mixin footer()
	+b.FOOTER.footer.section&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-lg-6
					+e.wrap
						+e.logo-wrap
							a(href="#"): +img(src="img/svg/logo-white.svg", alt="")
							a(href="#"): +img(src="img/svg/hr-white.svg", alt="")
						ul 
							li: a(href="#").link Положение о Премии
							li: a(href="#").link Пользовательское соглашение
				+e.col.col-lg-6
					+linkItem('Адрес')
						a(href="#") Москва, Тверская, 13
					+linkItem('Контактный телефон')
						a(href="tel:+78007071305") +7 (800) 707-13-05
					+linkItem('Общие вопросы')
						a(href="mailto:vkadre-info@mos.ru") vkadre-info@mos.ru
					+linkItem('PR и партнерство')
						a(href="mailto:pr-vkadre@mos.ru") pr-vkadre@mos.ru

			+e.bottom-row.row
				+e.col.col-lg-6
					+e.copyr.small © 2025 Управление кадровых сервисов Правительства Москвы
				+e.col.col-lg-6: +e.item-wrap
					.small Служба поддержки работает<br>с 8:00 до 19:00 МСК
					a(href="#").small Версия для слабовидящих
						+icon('noun-glasses') 

mixin linkItem(t)
	+b.link-item 
		+e.title= t
		block