.footer {
	margin-top: auto;
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(56)};
	}
	@include media-breakpoint-down(xl) {
		&.section--wide {
			--sPB: #{rem(130)};
		}
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(20)};
		margin-bottom: var(--bs-gutter-y);
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(50)};
		}
	}
	z-index: 0;

	background: $purple-600;
	color: $white;
	position: relative;
	@include media-breakpoint-up(lg) {
		background: var(--bg, $body-bg);
	}
	.container {
		position: relative;
		z-index: 2;
	}

	@include media-breakpoint-up(lg) {
		--border-r-footer: 50px;
		@include media-breakpoint-up(xl) {
			--border-r-footer: 80px;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: 0;
			bottom: 0;
			height: calc(100%);
			width: calc(50% + 1px);
			background: var(--bg-footer);
		}

		&:before {
			left: 0;
			--bg-footer: #{$indigo};
			border-radius: 0 var(--border-r-footer) 0 0;
		}
		&:after {
			right: 0;
			--bg-footer: #{$purple-600};
			border-radius: var(--border-r-footer) 0 0 0;
		}
	}

	&__bottom-row {
		// --bs-gutter-x: #{rem()};

		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(20)};
			align-items: end;
			a {
				margin-left: auto;
				width: max-content;
				display: block;
			}
		}
	}
	.icon {
		margin-left: rem(8);
	}
	a {
		color: inherit;
	}

	&__col {
		position: relative;
	}

	&__copyr {
		opacity: 0.3;
		@include media-breakpoint-down(lg) {
			position: absolute;
			left: calc(var(--bs-gutter-x) * 0.5);
			top: rem(66);

			max-width: rem(320);
		}
	}

	ul {
		list-style: none;
		margin-bottom: 0;
	}

	li {
		margin-bottom: rem(8);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(16);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(32);

		height: 100%;
	}

	&__logo-wrap {
		span {
			&:not(:last-child) {
				margin-right: rem(16);
				@include media-breakpoint-up(lg) {
					margin-right: rem(32);
				}
			}
			max-width: calc(50% - rem(16));
			height: rem(26);
			@include media-breakpoint-up(lg) {
				height: rem(39);
			}
			display: inline-block;
		}
		img {
			max-width: 100%;
			height: 100%;
		}
	}

	--link-max-w: #{rem(508)};

	&__item-wrap {
		display: flex;
		flex-direction: column;
		gap: rem(90);
		@include media-breakpoint-up(lg) {
			max-width: var(--link-max-w);
			margin-left: auto;
			gap: rem(20);

			flex-direction: row;
			align-items: end;
		}
	}

	&__text-small {
		max-width: rem(508);
		text-wrap: balance;
		opacity: 0.3;
	}
	&__tg-wrap {
		max-width: rem(508);
		@include media-breakpoint-up(lg) {
			margin-left: auto;
		}
		text-align: left;
		display: grid;
		gap: 1rem;
		grid-template-columns: auto 1fr;
		font-size: rem(14);
		text-wrap: balance;
		a {
			display: inline-block !important	;
			border-bottom: 1px solid;
		}
	}
}

.link-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	padding: rem(12) 0;
	@include media-breakpoint-up(lg) {
		padding: rem(5) 0;
	}

	a {
		padding: rem(1) 0;
	}

	&__title {
		opacity: 0.3;
	}

	font-size: rem(14);
	@include media-breakpoint-up(lg) {
		font-size: rem(18);
		max-width: var(--link-max-w);
		margin-left: auto;
	}
	@include media-breakpoint-up(xl) {
		font-size: rem(24);
	}
}
