.mobileTgSubscribtionButton {
  display: none;
}

// V2 with trasition
.tgSubscribeButtonV2 {
  display: none;
  position: fixed;
  top: 33.7vh;
  right: 0;
  max-width: 1020px;
  width: 100%;
  height: 320px;
  border-bottom-left-radius: 56px;
  background: linear-gradient(150deg, #0098E3, #5400B7 60%);

  z-index: 2;
  transition: transform .3s ease, border-bottom-left-radius .3s ease;
  transform: translateX(0);
  user-select: none;
  overflow: hidden;
  
  &:hover {
    cursor: pointer;
  }

  .tgButtonClosedContentV2 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    opacity: 0;
    height: 0;
    width: 0;
    position: relative;
    z-index: 2;

    .subscribeTextV2 {
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
    }
  }

  .tgButtonOpenedContentV2 {
    display: flex;
    align-items: flex-start;
    flex: 1;
    opacity: 1;
    padding: 40px 40px 0 40px;
    background-image: linear-gradient(90deg, #2b4acc, #0198e3 70%);

    &:hover {
      cursor: default;
    }
  
    .blur-tg-qr {
      position: absolute;
      right: 40%;
      top: 70px;
      width: 103px;
      height: 103px;
    }
  
    .bg-tg-qr {
      position: absolute;
      right: 35%;
      bottom: -10%;
      width: 245px;
      height: 245px;
    }
  }
}

.tgSubscribeButtonV2-closed {
  transform: translateX(948px);
  border-bottom-left-radius: 16px;

  .tgButtonClosedContentV2 {
    height: 100%;
    width: 72px;
    transform: rotate(-90deg);
    opacity: 1;
    transition: opacity .3s ease;
    transition-delay: .2s;

    .tg-white-subscribeV2 {
      transform: rotate(90deg);
    }
  }

  .tgButtonOpenedContentV2 {
    opacity: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0098E3, #5400B7);
  
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 1;
  }
  
  &:hover::before {
    opacity: 1;
  }
}

.subscribeButtonContentLeftColumn {
  flex-grow: 1;
  position: relative;
  z-index: 2;

  &-title {
    font-weight: 400;
    color: #fff;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 78px;
    max-width: 593px;
   
  }

  &-button {
    outline: none;
    border: none;
    width: 352px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #1A1230;
    font-size: 24px;
    border-radius: 50px;
    line-height: 32px;
  }
}

.close-tg-qr {
  cursor: pointer;
}

.vkadre-tg-qr {
  margin-right: -20px;
  margin-top: -35px;
}

@media screen and (max-width: 576px) {
  .tgSubscribeButtonV2 {
    display: none;
  }

  .mobileTgSubscribtionButton {
    position: fixed;
    top: 65px;
    z-index: 10;
    padding: 0 19px 0 16px;
    display: flex;
    width: 100%;
    height: 42px;
    background-color: #0C84DE;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    align-items: center;
    color: #fff;

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.2;
      flex: 1;
    }

    .mobile-tg-white-subscribe {
      width: 24px;
      height: 20px;
      margin-right: 8px;
      transform: rotate(90deg);
    }

    .mobile-close-tg-qr {
      width: 24px;
      height: 24px;
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .tgSubscribeButtonV2 {
    width: 90%;
  }

  .tgButtonOpenedContentV2 {
    padding: 30px 30px 0 30px;

    .blur-tg-qr {
      width: 103px;
      height: 103px;
    }
  
    .bg-tg-qr {
      width: 200px;
      height: 200px;
    }
  }

  .subscribeButtonContentLeftColumn {
    &-title {
      font-size: 24px;
      margin-bottom: 48px;
    }

    &-button {
      width: 300px;
      font-size: 20px;
    } 
  }

  .vkadre-tg-qr {
    width: 300px;
    margin: 10px -40px 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .tgSubscribeButtonV2 {
    width: 90%;
    height: auto;
  }

  .tgSubscribeButtonV2 .tgButtonOpenedContentV2 {
    padding: 20px 20px 0 20px;

    .blur-tg-qr {
      width: 70px;
      height: 70px;
      top: 25px;
    }
  
    .bg-tg-qr {
      width: 120px;
      height: 120px;
    }
  }

  .subscribeButtonContentLeftColumn {
    &-title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &-button {
      width: 160px;
      font-size: 14px;
      height: 4%;
    } 
  }

  .vkadre-tg-qr {
    width: 160px;
    margin-top: -10px;
    margin-right: -8px;
  }
}