mixin tgSubscribe()
  .mobileTgSubscribtionButton
    +img(src=`img/svg/tg-white-subscribe.svg`, alt="").mobile-tg-white-subscribe
    .mobileTgSubscribtionButton-text Следите за новостями
    +img(src='img/svg/close-tg-qr.svg').mobile-close-tg-qr

  .tgSubscribeButton#tgSubscribeButton
    .subscribeText Подписаться
    +img(src=`img/svg/tg-white-subscribe.svg`, alt="").tg-white-subscribe

    .subscribeButtonHiddenContent
      +img(src='img/svg/blur-tg-qr.svg').blur-tg-qr
      +img(src='img/svg/bg-tg-qr.svg').bg-tg-qr
      .subscribeButtonContentLeftColumn
        p.subscribeButtonContentLeftColumn-title 
          | Следите за новостями и яркими
          br
          | моментами Премии в нашем 
          br
          | телеграм-канале «В кадре»
        button.subscribeButtonContentLeftColumn-button Присоединиться
      +img(src='img/vkadre-tg-qr.png').vkadre-tg-qr
      +img(src='img/svg/close-tg-qr.svg').close-tg-qr