
mixin modal() 
	//  start modals
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"  ) submit
				+policy()
				+policy()
	// #modal-call
	div(id="modal-question"  style="display: none" )
		+b.modal-win
			+e.title-wrap.text-center
				+e.title.form-data.h2 Задать вопрос
				.after-headline Если у вас возник вопрос о Премии,<br>пожалуйста, заполните короткую форму ниже. Наши специалисты свяжутся с вами в ближайшее время
			.tabs.tabs-form
				.form-wrap__input-title.title.small.text-secondary.required Как вы хотите получить консультацию?
				.item.tabs__caption.small
					.tabs__btn По телефону
					.tabs__btn.active Письмом на почту
				.tabs__content
					+form-wrap
						+input("",'text', 'Ф.И.О.')(required)
						+input("Телефон",'tel',"Телефон")(required)
						+input("Введите текст",'text', 'Ваше сообщение')(required)
						.title.text-secondary.small.required Подтвердите, что вы не робот, введите символы с картинки
						.capture-wrap
						+policy
						+e.btn-wrap.text-center: +e.BUTTON.btn.btn.btn-primary(type="submit"  ) Отправить
				.tabs__content.active
					+form-wrap
						+input("",'text', 'Ф.И.О.')(required)
						+input("PM@mail.ru",'email',"Почта")(required)
							.error-feedback.text.text-indigo Пожалуйста, указывайте только почтовый адрес с доменом .ru
						+input("Введите текст",'text', 'Ваше сообщение')(required)
						.title.text-secondary.small.required Подтвердите, что вы не робот, введите символы с картинки
						.capture-wrap
						+policy
						+e.btn-wrap.text-center: +e.BUTTON.btn.btn.btn-primary(type="submit"  ) Отправить
	// #modal-call
	div(id="modal-auth"  style="display: none" )
		+b.modal-win
			.tabs.tabs-auth
				.item.tabs__caption
					.tabs__btn.active Войти
					.tabs__btn Зарегистрироваться
				.tabs__content.active
					+e.title-wrap.text-center
						.after-headline Авторизуйтесь и управляйте заявками в личном кабинете — номинируйте проекты, сохраняйте черновики и редактируйте их #[span до 11 июля].
					+form-wrap
						+input("PM@mail.ru",'email',"Почта")(required).is-invalid
						+input('Заполните поле', 'password', 'Пароль')(required).is-invalid
							+b.btn-toggle-type-input--js
								+icon("eye-off")
						+e.forgot-passw: a(href="#") Не помню пароль
						+e.bottom-wrap.text-center
							.error-feedback.text-indigo.text.small Пожалуйста, укажите данные для входа.
							+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти
				.tabs__content
					+e.title-wrap.text-center
						.after-headline.smaller Создание личного кабинета — ваш первый шаг к подаче заявки.
					+form-wrap
						+input("Заполните поле",'text', 'Фамилия')(required)
						+input("Заполните поле",'text', 'Имя')(required)
						+input("Заполните поле",'text', 'Отчество')(required)
						+input("PM@mail.ru",'email',"Почта")(required)
							.error-feedback.text.text-indigo Пожалуйста, указывайте только почтовый адрес с доменом .ru
						.tabs.tabs-form.tabs-form--phone
							.item.tabs__caption.small
								.tabs__btn Рабочий телефон
								.tabs__btn Мобильный телефон
							.tabs__content.active
								+e.tel-wrap.row
									+e.col.col: +input("+7 (___) ___-__-__",'tel',"Телефон")(required)
									+e.col.col-sm-auto: +input("Доб.",'text').additional
							.tabs__content
								+input("+7 (___) ___-__-__",'tel',"Телефон")(required)
						//- +e.radio-wrap.small
						//- 	+in-c('radio', 'Рабочий телефон')
						//- 	+in-c('radio', 'Мобильный телефон')
						+input("Заполните поле",'text', 'Ваша организация')(required)
							.error-feedback.text.text-indigo Пожалуйста, указывайте организацию, от которой вы подаете заявку на участие в премии
						+input("_ _ _ _ _ _ _ _ _ _",'text', 'ИНН организации').mask-firm(required)
						+input("Заполните поле",'text', 'Должность')(required)
						+policy
						+e.bottom-wrap.text-center
							+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти
	div(id="modal-auth-success"  style="display: none" )
		+b.modal-win
			+e.img-top-wrap.text-center: +img(src="img/svg/success.svg", alt="")
			+e.title-wrap.text-center
				.h5 Благодарим за интерес к HR-премии Правительства Москвы «В кадре»!
				p Пожалуйста, подтвердите регистрацию в письме, которое мы отправили вам на почту.
	div(id="modal-mail-confirmed"  style="display: none" )
		+b.modal-win
			+e.img-top-wrap.smaller.text-center: +img(src="img/svg/success.svg", alt="")
			+e.title-wrap.text-center
				+e.title.form-data.h2 Почта подтверждена!
				p Вы создали личный кабинет участника HR-премии Правительства Москвы «В кадре». Пожалуйста, войдите с логином и паролем, который указали при регистрации.
			+form-wrap
				+input("PM@mail.ru",'email',"Почта")(required).is-invalid
				+input('Заполните поле', 'password', 'Пароль')(required).is-invalid
					+b.btn-toggle-type-input--js
						+icon("eye-off")
				+e.forgot-passw: a(href="#") Не помню пароль
				+e.bottom-wrap.text-center
					.error-feedback.text-indigo.text.small Почта или пароль указаны неверно.
					+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти

	div(id="modal-partner"  style="display: none" )
		+b.modal-win
			+e.title-wrap.text-center
				+e.title.form-data.h2 Стать партнером премии
				.after-headline Пожалуйста, оставьте контактные данные —<br>мы свяжемся с вами в ближайшее время.
			+form-wrap
				+input("Заполните поле",'text', 'Ф.И.О.')(required)
				+input("PM@mail.ru",'email',"Почта")(required)
				+input("+7 (___) ___-__-__",'tel',"Телефон")(required)
				+input("Заполните поле",'text', 'Ваша организация*')(required)
				.title.text-secondary.small.required Подтвердите, что вы не робот, введите символы с картинки
				.capture-wrap
				+policy
				+e.btn-wrap.text-center: +e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти

	//- Пароль
	div(id="modal-reset-1"  style="display: none" )
		+b.modal-win
			+e.back-link(href='#'): +icon('arr-back')
			+e.title-wrap.text-center
				+e.title.form-data.h2 Сброс пароля
				p Пожалуйста, укажите почту, с которой вы создавали личный кабинет.
			+form-wrap
				+input("PM@mail.ru",'email',"Почта")
				+e.bottom-wrap.text-center
					+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти

	div(id="modal-reset-2"  style="display: none" )
		+b.modal-win
			+e.title-wrap.text-center
				+e.title.form-data.h2 Сброс пароля
				p Установите новый пароль для своего<br>личного&nbsp;кабинета. 
			+form-wrap
				+input('Заполните поле', 'password', 'Придумайте пароль')(required).is-invalid
					+b.btn-toggle-type-input--js
						+icon("eye-off")
				+input('Заполните поле', 'password', 'Повторите пароль')(required).is-invalid
					+b.btn-toggle-type-input--js
						+icon("eye-off")
				+e.bottom-wrap.text-center
					.error-feedback.text-indigo.text.small Пароли не совпадают
					+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти

	div(id="modal-reset-info"  style="display: none" )
		+b.modal-win
			+e.back-link(href='#'): +icon('arr-back')
			+e.img-top-wrap.text-center: +img(src="img/svg/success.svg", alt="")
			+e.title-wrap.text-center
				.h5 Мы направили на почту #[span PM@mail.ru] письмо с дальнейшими инструкциями для сброса пароля.

	div(id="modal-reset-success"  style="display: none" )
		+b.modal-win
			+e.img-top-wrap.smaller.text-center: +img(src="img/svg/success.svg", alt="")
			+e.title-wrap.text-center
				+e.title.form-data.h2 Пароль успешно изменен
				p Вы можете авторизоваться на сайте Премии с&nbsp;новым&nbsp;паролем.
			+form-wrap
				+input("PM@mail.ru",'email',"Почта")(required).is-invalid
				+input('Заполните поле', 'password', 'Пароль')(required).is-invalid
					+b.btn-toggle-type-input--js
						+icon("eye-off")
				+e.forgot-passw: a(href="#") Не помню пароль
				+e.bottom-wrap.text-center
					.error-feedback.text-indigo.text.small Почта или пароль указаны неверно.
					+e.BUTTON.btn.btn.btn-primary(type="submit"  ) Войти

	//- cabinet
	div(id="modal-exit"  style="display: none" )
		+b.modal-win--big
			+e.title-wrap
				+e.t.h5 Вы действительно хотите выйти из личного кабинета?
				p Вам нужно будет авторизоваться повторно.
			+e.btns-wrap.row
				+e.col.col-sm-6: +e.btn.btn.btn-outline-primary.modal-close-js(href='#') Нет
				+e.col.col-sm-6: +e.btn.btn.btn-primary(href='#') Выйти
	div(id="modal-cancel"  style="display: none" )
		+b.modal-win--big
			+e.title-wrap
				+e.t.h5 Вы не подтвердили изменения в заявке.
				p Хотите их сохранить?
			+e.btns-wrap.row
				+e.col.col-sm-6: +e.btn.btn.btn-outline-primary(href='#') Не сохранять
				+e.col.col-sm-6: +e.btn.btn.btn-primary(href='#') Войти
	div(id="modal-cancel-1"  style="display: none" )
		+b.modal-win--big
			+e.title-wrap
				+e.t.h5 Вы уверены, что хотите прервать заполнение заявки?
				p Мы сохраним все заполненные поля в «черновике» — вы сможете найти его во вкладке «Все заявки» и продолжить заполнение.
			+e.btns-wrap.row
				+e.col.col-sm-6: +e.btn.btn.btn-outline-primary(href='#') Сохранить как черновик
				+e.col.col-sm-6: +e.btn.btn.btn-primary(href='#') Продолжить
	div(id="modal-cancel-2"  style="display: none" )
		+b.modal-win--big
			+e.title-wrap
				+e.t.h5 Вы не заполнили все обязательные поля
				p Хотите сохранить черновик заявки и вернуться к заполнению позже?
			+e.btns-wrap.row
				+e.col.col-sm-6: +e.btn.btn.btn-outline-primary(href='#') Сохранить как черновик
				+e.col.col-sm-6: +e.btn.btn.btn-primary(href='#') Продолжить
	div(id="modal-criteria-1"  style="display: none" )
		+b.modal-win--big
			+e.title-wrap
				+e.t.h5 Требования к презентации
			+e.content
				p Допустимый объем текста на одном слайде #[span не более 700 знаков без пробелов.]
				p Предоставляется в формате PDF или PPT (при наличии интерактивных слайдов).
				p Объем презентации: от 10 до 15 слайдов. 
				p Соотношение сторон: 16:9.
				p #[span Обязательная структура презентации:]
				ul
					li 1-2 слайда об организации
					li 1 слайд о роли заявителя
					li 1-2 слайда о проблеме
					li 1-2 слайда идея и суть решения
					li 1-2 слайда команда, ресурсы
					li 1-3 слайда план проекта и яркие элементы реализации
					li 1 слайд количественные результаты
					li 1 слайд качественные результаты
					li 1 слайд - дополнительные выгоды
	div(id="modal-criteria-2"  style="display: none" )
		+b.modal-win--big
			+e.title-wrap
				+e.t.h5 Первичные критерии
			+e.content
				p После тех экспертизы. Презентация о проекте
				p Допустимый объем текста на одном слайде не более 700 зн. без пробелов.
				p Предоставляется в формате PDF или PPT (при наличии интерактивных слайдов).
				p Объем презентации – от 10 до 15 слайдов. Соотношение сторон 16:9.
				p Обязательная структура презентации:
	div(id="modal-info"  style="display: none" )
		+b.modal-win--big
			+img(src="img/svg/modal-bg.svg", alt="").modal-img
			+e.title-wrap
				+e.t.h5 Секрет удачного кадра: привлечение
			+e.content.content-img
				p Отмечаются проекты, которые помогают привлечь в организацию талантливых сотрудников и сделать это максимально эффективно. 
				p Поделитесь практическими решениями, которые позволяют привлекать кадры с комфортом как для команды, так и для кандидатов!


mixin modalMob() 
	div(id="modal-mob"  style="display: none" )
		+b.modal-win--mob
			+e.title-wrap
				p Рекомендуем заполнять заявку на компьютере для максимального удобства и функциональности.

	
	// end modals