:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
  @include media-breakpoint-down(xl) {
    max-width: calc(100% - 24px);
  }
}

.modal-win {
	// display: block;
  border-radius: rem(18);
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(616);
	// min-height: 100%; 
	padding: rem(50) rem(16);
	@include media-breakpoint-up(md) {
    padding: rem(50) rem(76);
  }

  &__back-link {
    position: absolute;
    top: rem(12);
    left: rem(16);
    display: inline-block;

    &:hover .icon{
      stroke: $purple-400;
    }

    .icon {
      font-size: rem(24);
      fill: none;
      @include mt;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke: $primary;
    }
  }

  &__img-top-wrap {
    margin-top: rem(10);
    &:not(.smaller) {
      margin-bottom: rem(32);
      img {
        width: rem(66);
      }
    }

    &.smaller {
      margin-bottom: rem(14);
      img {
        width: rem(36);
      }
    }
  }

  .h5 {
    span {
      font-weight: 700;
    }
  }

  .after-headline {
    line-height: 1.2;
    @include media-breakpoint-down(md) {
      font-size: rem(14);
    }

    &.smaller {
      max-width: rem(360);
      margin: auto;
    }

    span {
      font-weight: 700;
    }
  }

  .tabs-form {
    .tabs__caption {
      grid-template-columns: repeat(2, auto);
      margin-bottom: rem(16);
    }

    &--phone {
      .tabs__caption {
        @include media-breakpoint-down(md) {
          grid-template-columns: 1fr;
          border-radius: rem(16);
        }
      }

    }
  }

  .tabs-auth {
    & >.tabs__caption {
      display: grid;
      grid-template-columns: repeat(2, auto);
      @include media-breakpoint-up(sm) {
        grid-template-columns: .45fr .55fr;
      }
      margin-bottom: 16px;
    }
    & >.tabs__caption .tabs__btn {
      position: relative;
      color: $secondary;
      text-align: center;
      opacity: .7;
      @include mt;
      @include media-breakpoint-up(md) {
        font-size: rem(24);
      }
      &:not(:last-child) {
        margin-right: rem(10);
        @include media-breakpoint-up(md) {
          margin-right: rem(24);
        }
      }

      &:hover {
        opacity: 1;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $secondary;
      }

      &.active {
        opacity: 1;
        color: $primary;
        &::after {
          background:  $gradient-dark;
        }
      }
    }

  }

  &__title-wrap {
    margin-bottom: rem(32);
  }

  &__title {
    @include media-breakpoint-up(md) {
      font-size: rem(40);
    }
  }
  .form-wrap {
    &__input-wrap {
      margin-bottom: rem(16);

      .error-feedback {
        margin-top: rem(6);
        font-size: rem(12);
      }
    }

    label {
      position: relative;
    }

    &__btn {
      --bs-btn-font-size: #{rem(16)};
      --bs-btn-padding-y: #{rem(12)};
      width: 100%;
      @include media-breakpoint-up(md) {
        min-width: rem(260);
        width: auto;
      }
    }

    &__btn-wrap {
      margin-top: rem(28);
    }

    &__forgot-passw {
      a {
        text-decoration: underline;
        color: $secondary;
      }
    }

    &__bottom-wrap {
      margin-top: rem(48);

      .error-feedback {
        margin-bottom: rem(16);
      }
    }

    &__policy {
      a {
        color: inherit;
        text-decoration: underline;
      }
    }

    &__tel-wrap {
      --bs-gutter-x: #{rem(16)};
      align-items: flex-end;
      .additional {
        width: rem(116);
      }
    }

    // &__radio-wrap {
    //   display: flex;
    //   flex-wrap: wrap;
    //   border-radius: rem(16);
    //   @include media-breakpoint-up(sm) {
    //     flex-wrap: nowrap;
    //     border-radius: rem(24);
    //   }
    //   @include media-breakpoint-up(md) {
    //     gap: rem(8);
    //   }
    //   padding: rem(4);
    //   border: 1px solid $secondary;
    //   margin-bottom: rem(8);
    //   line-height: 130%;

    //   label {
    //     position: relative;
    //     padding-left: 0;
    //     margin: 0;

    //     span {
    //       border-radius: rem(50);
    //       display: inline-block;
    //       width: 100%;
    //       height: 100%;
    //       text-align: center;
    //       position: relative;
    //       z-index: 2;
    //       padding: rem(4);
    //     }

    //     input {
    //       border: none;
    //       position: absolute;
    //       width: 100%;
    //       height: 100%;
    //       border-radius: rem(50);
    //       z-index: 0;
    //       // opacity: 0;
    //       margin: 0;
    //       box-shadow: none;
    //       @include mt;

    //       &:hover {
    //         background: $gray-100;
    //       }
    //       &:checked {
    //         --bs-form-check-bg-image: none;
    //         background-color: #{$pink-400};
    //       }
    //       &:checked ~ span {
    //         color: $white;
    //       }
    //     }
    //   }
    // }
  }

  label:has(input[required]) .form-wrap__input-title {
    position: relative;
    &:after {
      content: '*';
      display: inline-block;
      // position: absolute;
      // top: 11px;
      // left: -5px;
      color: $danger;
    }
  }
  .capture-wrap {
    margin: rem(28) 0;
  }
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {

	.fancybox__container {
		width: 100% !important;
		min-height: 100%; 
		transform: none !important;
	}
}



.fancybox-throwOutUp {
  animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
  from {
    transform: translate3d(0, -5%, 0);
    opacity: 0;
  }
	
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

}

@keyframes fancybox-throwOutDown {
  to {
    transform: translate3d(0, 10%, 0);
    opacity: 0;
  }
}

.fancybox__content>.f-button.is-close-btn {
  // --f-button-width: 34px;
  // --f-button-height: 34px;
  // --f-button-border-radius: 4px;
  --fancybox-color: #{$body-color};
  // --f-button-color: var(--fancybox-color, #{$body-color});
  // --f-button-hover-color: var(--fancybox-color, #fff);
  // --f-button-bg: transparent;
  // --f-button-hover-bg: transparent;
  // --f-button-active-bg: transparent;
  // --f-button-svg-width: 22px;
  // --f-button-svg-height: 22px;
  // position: absolute;
  top: 10px;
  right: 10px;
  // opacity: .75;
}

.btn-toggle-type-input--js {
  position: absolute;
  bottom: 12px;
  right: 16px;

  cursor: pointer;

  .icon {
    fill: none;

    stroke-width: rem(2);
    stroke: $secondary;
  }
}


main.modal {
  .btn {
    margin: rem(8);
  }
}