extends ../layout/main.pug
include ../blocks/footer/_footer.pug


include ../blocks/sAuth/_sAuth.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sContent/_sContent.pug
 

block variables
	- let  mainPage= 'main-page white-bg' 
	- let  bg= null

block title
	- let  title= 'Контактное лицо'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-cabinet')
	main
		+sSteps3(title)
	+footer