mixin sRules(data)
	// start sRules
	+b.SECTION.sRules.section#sRules&attributes(attributes)
		.container
			+e.flex-top
				+e.wrap
					+e.top-btns.d-md-none
						button.btn.btn-reset.btn-sm Сбросить фильтр
						+e.filter-btn.BUTTON.btn.btn-link.btn-sm.text-purple.filter-btn-js
							span Смотреть все
							span: +icon('x')
					.sidebar--js: +e.filters.row
						.col-auto: a(href="#", style="--bg-active: #007567;") Кто может участвовать
						.col-auto: a.active(href="#", style="--bg-active: #FF9C27") Номинации и критерии
						.col-auto: a(href="#", style="--bg-active: #0098E3;") Подача заявок
						.col-auto: a.active(href="#", style="--bg-active: #8031FF;") Этапы премии
						.col-auto: a(href="#", style="--bg-active: #EFE8FF; color: black;") Система судейства
						.col-auto: a(href="#", style="--bg-active: #D70A3F;") Вознаграждение и победители
						.col-auto: a(href="#", style="--bg-active: #007567;") Положение и полезные материалы
						.col-auto.d-none.d-md-block: button.btn.btn-reset.btn-sm Сбросить фильтр
					+e.selected-filters.d-md-none
						.badge.text-bg-warning Номинации и критерии
				+b.section-title
					h2 Правила
					.text-large Узнайте все о самом масштабном ежегодном событии HR-отрасли в госсекторе.
			+ddGroup
				+ddGroupItem('Кто может подать заявку на участие в премии?', 'Кто может участвовать', 'text-bg-success')
					.text-large Номинировать проекты могут сотрудники или команды из федеральных государственных органов, органов государственной власти субъектов Российской Федерации, органов местного самоуправления и подведомственных им организаций, которые успешно реализовали проекты в сфере управления персоналом.
					.text-large В конкурсе не могут принять участие коммерческие организации и предприятия, в которых один из собственников — государство.
				+ddGroupItem('Какие проекты могут принять участие?', 'Кто может участвовать', 'text-bg-success')
					.text-large Могут быть представлены успешные проекты в отрасли управления персоналом, связанные с подбором и наймом, управлением талантами, обучением и развитием, оценкой персонала, развитием корпоративной культуры и других HR-направлениях.
					.text-large В зависимости от номинации критерии отбора проектов могут отличаться.
				+ddGroupItem('Это платно?', 'Кто может участвовать', 'text-bg-success')
					.text-large Участие в премии является бесплатным для всех сотрудников и команд из госсектора.
				+ddGroupItem('Какие номинации предусмотрены в рамках премии?', 'Номинации и критерии', 'text-bg-warning')
					.text-large В премии 8 номинаций: «HR-режиссер: руководитель года», «В главных ролях: Команда года», «В перспективе: молодежный карьерный проект», «Секрет удачного кадра: обучение и развитие», «Лучшие спецэффекты: технологическое решение года», «В фокусе: бренд работодателя», «Новый ракурс: трансформация года» и «Специальная номинация: В кадре», которая присуждается партнерами премии — называем партнеров.
				+ddGroupItem('Кто является участником премии?', 'Кто может участвовать', 'text-bg-success')
					.text-large Участие в премии является бесплатным для всех сотрудников и команд из госсектора.
				+ddGroupItem('Как выбрать номинацию для проекта?', 'Номинации и критерии', 'text-bg-warning')
					.text-large Если вы не уверены, какая номинация лучше подходит вашему проекту, вы можете обратиться на линию поддержки по телефону #[a(href="tel:+99999999") +99999999]  или написать на почту #[a(href="mailto:") mail.ru]. Организаторы помогут сделать выбор и порекомендуют подходящую номинацию.
				+ddGroupItem('Какие требования к участнику для номинации «HR-режиссер: руководитель года»?', 'Номинации и критерии', 'text-bg-warning')
					.text-large Если вы не уверены, какая номинация лучше подходит вашему проекту, вы можете обратиться на линию поддержки по телефону #[a(href="tel:+99999999") +99999999]  или написать на почту #[a(href="mailto:") mail.ru]. Организаторы помогут сделать выбор и порекомендуют подходящую номинацию.
				+ddGroupItem('Как подать заявку на участие в премии?', 'Подача заявок', 'text-bg-info')
					.text-large Чтобы подать заявку нужно авторизоваться на официальном сайте премии, зайти в личный кабинет и создать заявку в вкладке «Подать заявку». 
					.text-large Каждый соискатель премии может:
					ol.text-large
						li Подать несколько заявок с разными проектами в одной номинации.
						li Подать один и тот же проект на несколько номинаций.
						li Подать несколько заявок с разными проектами в разных номинациях.
					.text-large Один проект сможет одержать победу только в одной номинации. После технической экспертизы каждый проект будет допущен к участию по одной заявке в номинации, которая лучше всего соответствует описанию проекта.
				+ddGroupItem('Что должно быть в заявке?', 'Подача заявок', 'text-bg-info')
					.text-large Соискателям премии необходимо указать в заявке:
					ol.text-large
						li Информацию о контактном лице, которое сможет ответить на уточняющие вопросы по заявке или проекту. Это может быть только сотрудник организации, которая реализовала проект.
						li Название проекта.
						li Проблемную область или вызов, на который отвечает проект, его цели и задачи.
				+ddGroupItem('Почему для подачи заявки нужно регистрироваться?', 'Подача заявок', 'text-bg-info')
					.text-large Соискателям премии необходимо указать в заявке:
					ol.text-large
						li Информацию о контактном лице, которое сможет ответить на уточняющие вопросы по заявке или проекту. Это может быть только сотрудник организации, которая реализовала проект.
						li Название проекта.
						li Проблемную область или вызов, на который отвечает проект, его цели и задачи.
				+ddGroupItem('Как происходит процесс отбора победителей?', 'Вознаграждение и победители', 'text-bg-danger')
					.text-large 1. Прием заявок проводится с 1 декабря по 1 февраля.
					.text-large 2. С 3 — по 23 февраля все поданные заявки проходят предварительный отбор на соответствие критериям конкурса.
					.text-large 3. С 24 февраля по 16 марта проекты оцениваются независимыми экспертами, которые выбирают топ-5 финалистов в каждой номинации на основе установленных в положении критериев.
					.text-large.text-purple Организаторы могут обратиться к следующим в рейтинге за финалистами участникам, если при формировании топ-40 один или несколько проектов не смогут продолжить борьбу за победу в своей номинации.
					.text-large 4. 17 марта проекты финалистов будут опубликованы на сайте премии. Организаторы запросят у прошедших в следующий этап участников видеовизитки и дополнительные документы — паспортные данные лидера команды, реквизиты организации.
					.text-large 5. С 25 по 27 марта пройдет оценка жюри, которые определят по 3 победителя в каждой номинации.
					.text-large 6. 10 апреля состоится торжественная церемония награждения.
				+ddGroupItem('Какие преимущества получают победители?', 'Вознаграждение и победители', 'text-bg-danger')
					.text-large #[span В каждой номинации будут определены 3 победителя,] которые получат денежные призы: 3 000 000 рублей за 1-е место, 2 000 000 за 2-е и 1 000 000 за 3-е соответственно.
					.text-large Также все финалисты получат поддержку на информационных площадках страны,  возможность сотрудничества с лидерами отрасли и масштабирования своих проектов, а также признание экспертизы на федеральном уровне.
				+ddGroupItem('Как распределяется денежное вознаграждение внутри команды проекта-победителя?', 'Вознаграждение и победители', 'text-bg-danger')
					.text-large #[span В каждой номинации будут определены 3 победителя,] которые получат денежные призы: 3 000 000 рублей за 1-е место, 2 000 000 за 2-е и 1 000 000 за 3-е соответственно.
					.text-large Также все финалисты получат поддержку на информационных площадках страны,  возможность сотрудничества с лидерами отрасли и масштабирования своих проектов, а также признание экспертизы на федеральном уровне.
				+ddGroupItem('Можно ли подать один и тот же проект сразу на несколько номинаций?', 'Номинации и критерии', 'text-bg-warning')
					.text-large #[span В каждой номинации будут определены 3 победителя,] которые получат денежные призы: 3 000 000 рублей за 1-е место, 2 000 000 за 2-е и 1 000 000 за 3-е соответственно.
					.text-large Также все финалисты получат поддержку на информационных площадках страны,  возможность сотрудничества с лидерами отрасли и масштабирования своих проектов, а также признание экспертизы на федеральном уровне.
				+ddGroupItem('Есть ли ограничение по числу проектов-участников премии от одной организации?', 'Кто может участвовать', 'text-bg-success')
					.text-large #[span В каждой номинации будут определены 3 победителя,] которые получат денежные призы: 3 000 000 рублей за 1-е место, 2 000 000 за 2-е и 1 000 000 за 3-е соответственно.
					.text-large Также все финалисты получат поддержку на информационных площадках страны,  возможность сотрудничества с лидерами отрасли и масштабирования своих проектов, а также признание экспертизы на федеральном уровне.
				+ddGroupItem('Как внести изменения в заявку?', 'Подача заявок', 'text-bg-info')
					.text-large До 1 февраля вы можете самостоятельно изменять данные в заявке прямо в личном кабинете участника на вкладке «Мои заявки».
				+ddGroupItem('Можно ли подать несколько заявок?', 'Подача заявок', 'text-bg-info')
					.text-large Да, можно. Однако каждый проект сможет одержать победу только в одной номинации.
					.text-large Если вы создадите несколько заявок с одним проектом в разных номинациях, на технической экспертизе (кадр 2 в Раскадровке) организаторы свяжутся с вами, так как смогут одобрить только одну из них.
					.text-large Также вы можете отозвать заявку — для этого, пожалуйста, обратитесь на нашу линию поддержки по телефону …………  или напишите на почту …….. .
				+ddGroupItem('Какие документы необходимо предоставить при подаче заявки?', 'Подача заявок', 'text-bg-info')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Как стать партнером?', 'Подача заявок', 'text-bg-info')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Церемония награждения', 'Этапы премии', 'text-bg-dark')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Будет ли компенсация поездки на церемонию награждения?', 'Этапы премии', 'text-bg-dark')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Сколько человек могут принять участие в церемонии награждения?', 'Этапы премии', 'text-bg-dark')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Что будет с проектами победителей', 'Вознаграждение и победители', 'text-bg-danger')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Могу ли я оспорить отклонение заявки?', 'Система судейства', 'text-bg-light')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Чем отличаются жюри от экспертов?', 'Система судейства', 'text-bg-light')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Что оценивают жюри?', 'Система судейства', 'text-bg-light')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Что оценивают жюри?', 'Система судейства', 'text-bg-light')
					.text-large Критерии оценки проектов можно разделить на общие для всех номинаций и уникальные для каждой из них.
					.text-large #[span Среди общих критериев:] вклад в развитие своей команды и HR-отрасли в целом, а также эффективность и изобретательность решений, использованных в проекте.
					.text-large #[span Уникальные критерии: ]
					.text-large
						.span.text-purple HR-режиссер:
						|  руководитель года — оцениваются лидерские качества, стратегическое мышление и способность руководителя внедрять инновационные решения, которые значительно улучшают HR-функции и способствуют успеху организации.
					.text-large
						.span.text-purple В главных ролях:
						|  Команда года — наибольшее внимание уделяется эффективности организационных процессов и достигнутым результатам, которые стали возможны в первую очередь благодаря совместной работе сотрудников.
					.text-large
						.span.text-purple В перспективе:
						|   молодежный карьерный проект — оцениваются эффективность и инновационность программ для обучения и профессионального развития молодых специалистов, а также их влияние на интеграцию на рынке труда.
					.text-large
						.span.text-purple Секрет удачного кадра:
						|  обучение и развитие — жюри рассматривает внедрение передовых технологий и инструментов, которые способствуют эффективному обучению и развитию персонала, в том числе приобретению значимых для отрасли навыков.
					.text-large
						.span.text-purple Лучшие спецэффекты:
						|  технологическое решение года — оценивается эффективность внедрения технологий, которые способствуют автоматизации и масштабированию значимых для HR-отрасли или организации решений.
					.text-large
						.span.text-purple В фокусе:
						|  бренд работодателя — внимание уделяется HR-практикам и решениям, которые позволили создать привлекательную рабочую среду и сформировать положительный имидж работодателя.
					.text-large
						.span.text-purple Спецпоказ:
						|  в кадре — жюри оценивает HR-практики в организации в целом и их вклад в развитие отрасли.
	
				+ddGroupItem('Что оценивают эксперты?', 'Система судейства', 'text-bg-light')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('От какой организации подавать проект, если его реализовало несколько организаций?', 'Система судейства', 'text-bg-success')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
				+ddGroupItem('Кто должен номинировать проект подведомственной организации?', 'Система судейства', 'text-bg-success')
					.text-large Про обязательные и не обязательные документы и всевозможные награды, отдельно про паспортные данные или гражданство?
	// end sRules
