mixin sRules(data)
	// start sRules
	+b.SECTION.sRules.section#sRules&attributes(attributes)
		.container
			+b.section-title
				h2 Правила
				.text-large Узнайте все о самом масштабном ежегодном событии HR-отрасли в госсекторе.
				
			+e.row.row
	// end sRules