// start .sAwards
.sAwards {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(20)};
  }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(24)};
    margin-bottom: rem(28);
	}

  --border-lg: 56px;
	&__col {
    @include media-breakpoint-up(lg) {
      &:nth-child(even) .award-card {
        border-radius:  0 var(--border-lg) 0 0;
      }
      &:nth-child(odd) .award-card {
        border-radius:  var(--border-lg) 0 var(--border-lg) 0;
      }
    }
	}

  .text-large a {
    text-decoration: underline;
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAwards

.award-card {
  padding: rem(32) rem(16);
  border-radius: rem(32) 0 0 0;
	@include media-breakpoint-up(xl) {
    padding: rem(40);
    padding-right: rem(20);
  }
  height: 100%;
  li span {
    font-weight: 500;
    font-size: rem(24px);
    @include media-breakpoint-between(md, xl) {
      font-size: rem(30px);
    }
    @include media-breakpoint-up(xl) {
      font-size: rem(44px);
    }
  }

  li.span {
    @include media-breakpoint-up(xl) {
      list-style-type: none;
      margin-left: 0;
    }
  }

  li {
    margin-left: rem(30);
    margin-bottom: rem(10);
  }

  min-height: rem(381);
	@include media-breakpoint-up(lg) {
    min-height: rem(490);
  }

  ul {
    @extend .text-large;
    line-height: 1.2;
  }
  
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -10%;
    left: -5%;
    border-radius: 100%;
    filter: blur(48px);
    width: 130%;
    height: 150%;
    transform: rotate(10deg);
    @include media-breakpoint-up(lg) {
      left: -20%;
    }
  }

  .stars-yellow {
    position: absolute;
    bottom: 0;
    left: rem(10px);
    z-index: -1;
    max-width: 50%;
    width: rem(150px);
    filter: blur(4px);
    @include media-breakpoint-up(lg) {
      width: rem(200);
      transform: translateY(30%);
    }
  }

  &--yellow {
    &:before {
      background: $yellow;
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   z-index: -1;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 30%;
    //   background: #fabd12;
    //   mix-blend-mode: color;
    // }
  }
  &:not(.award-card--yellow) {
    color: $white;
    background: $white;

    &:before {
      background: linear-gradient(180deg, #5f11bc 0%, #5b9de4 100%);
      @include media-breakpoint-up(lg) {
        background: linear-gradient(72deg, #5f11bc 0%, #5b9de4 100%);
      }
    }
  }

  position: relative;
  overflow: hidden;
  z-index: 1;
  .stars {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: blur(6px);
    transform: translateY(10%);
    @include media-breakpoint-up(lg) {
      width: rem(250px);
      bottom: rem(-30);
    }
  }

  .stars.star-big {
    width: rem(220);
    bottom: 0;
  }

  .stars_rotate {
    transform: translateY(10%) scale(-1, 1);
  }

  .award {
    position: absolute;
    bottom: 0;
    right: rem(-10px);
    z-index: -1;
    width: rem(154);
    transform: translateY(40%);
    @include media-breakpoint-up(lg) {
      // width: rem(200);
    transform: translateY(30%);
    }
  }

  .h3 {
    margin-bottom: rem(39);
  }
}