mixin sAwards(data)
	// start sAwards
	+b.SECTION.sAwards.section#sAwards&attributes(attributes)
		.container
			+b.section-title
				h2 Награды
				.text-large Определим 36 лауреатов
			+e.row.row
				- const wrapClass="col-lg-4"
				+e.col(class= wrapClass)
					+awardCard('Первое место', '').--yellow
						img(src="img/award.png", alt="").award
						img(src="img/stars-yellow.png", alt="").stars-yellow
						ul
							li Команды-победители получат денежные призы
							li Диплом 1-й степени
							li Статуэтка Премии   
							li Подарки от организаторов и партнеров
							li 48 млн рублей — общий призовой фонд
				+e.col(class= wrapClass)
					+awardCard('Второе место', '')
						img(src="img/stars-1.png", alt="").stars.stars-1
						ul
							li Диплом 2-й степени
							li Статуэтка Премии
							li Подарки от организаторов и партнеров
				+e.col(class= wrapClass)
					+awardCard('Третье место', '')
						img(src="img/stars-2.png", alt="").stars.stars_rotate
						ul
							li Диплом 3-й степени
							li Статуэтка Премии
							li Подарки от организаторов и партнеров
			.text-large Подробнее о распределении призового фонда можно узнать в разделе #[a(href='#') Правила]
	// end sAwards

mixin awardCard(t, img)
	+b.award-card&attributes(attributes)
		.h3.fw-500=t
		if block
			block