mixin sAwards(data)
	// start sAwards
	+b.SECTION.sAwards.section#sAwards&attributes(attributes)
		.container
			+b.section-title
				h2 Награды
				.text-large Определим 36 лауреатов
			+e.row.row
				- const wrapClass="col-lg-4"
				+e.col(class= wrapClass)
					+awardCard('Первое место', '').--yellow
						+img(src="img/award.png", alt="").award
						+img(src="img/svg/stars-yellow.svg", alt="").stars-yellow
						ul
							li.span #[span 48 млн рублей — общий призовой фонд]
							li Диплом 1-й степени
							li Фирменная статуэтка
							li Приглашение на церемонию награждения
							li Публикация видео и проекта
				+e.col(class= wrapClass)
					+awardCard('Второе место', '')
						+img(src="img/svg/stars.svg", alt="").stars
						ul
							li Диплом 2-й степени
							li Статуэтка Премии
							li Подарки от организаторов и партнеров
				+e.col(class= wrapClass)
					+awardCard('Третье место', '')
						+img(src="img/svg/stars.svg", alt="").stars.stars_rotate.d-lg-none
						+img(src="img/svg/star-big.svg", alt="").stars.star-big.d-none.d-lg-inline
						ul
							li Диплом 3-й степени
							li Статуэтка Премии
							li Подарки от организаторов и партнеров
			.text-large Подробнее о распределении призового фонда можно узнать в разделе #[a(href='#') Правила].
	// end sAwards

mixin awardCard(t, img)
	+b.award-card&attributes(attributes)
		.h3.fw-500=t
		if block
			block