// start .sNews
.sNews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
	z-index: 3;

	@include media-breakpoint-down(lg) {
		--sTPB: #{rem(20)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	h2 {
		margin-bottom: rem(6);
	}
	.section-title a {
		display: inline-block !important;
	}

	.section-title__title-wrap {
		@include media-breakpoint-down(md) {
			gap: rem(8);
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__wrap {
		height: 100%;
		border-bottom: 1px solid $purple-200;
	}

	&__item {
		padding: rem(8) 0 rem(28);
		border-top: 1px solid $purple-200;
		display: inline-block;

		.text {
			margin-top: rem(6);
		}
	}

	.hide-md {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	.hide-lg {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}

	&__img-wrap {
		position: relative;
		height: 100%;
		min-height: rem(255);
		color: $white;
		border-radius: 0 0 64px 0;
		overflow: hidden;
		display: block;
		@include media-breakpoint-down(md) {
			@include block(255, 288);
		}
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $gradient-p-p;
			z-index: -1;
		}

		@include media-breakpoint-up(lg) {
			min-height: rem(400);
		}
		img {
			filter: brightness(0.6);
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		padding: rem(20) rem(24);
		@include media-breakpoint-up(lg) {
			padding: rem(48) rem(32);
		}
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: rem(4);
		height: 100%;

		.text {
			text-wrap: balance;
		}
	}
	.text {
		line-height: 1.1;
	}

	&__data {
		font-size: rem(12);
		letter-spacing: -0.05em;
		@include media-breakpoint-up(lg) {
			font-size: rem(20);
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sNews
