.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	opacity: 0;
	// opacity: 0.7;
} 

body,
html {
	font-size: var(--bs-body-font-size);
}
html{
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&[class*="fixed"],
	&.fancybox-active{
		.header{ 
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px; 
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden; 
	
	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8); 
    backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;

	}
	&[class*="fixed"] { 
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999; 
		touch-action: none;
    -webkit-overflow-scrolling: none;
    overflow: hidden;
    /* Other browsers */
    overscroll-behavior: none;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.white-bg {
  --bg: white;
  background: var(--bg, $body-bg);
}
.main-wrapper { 
	position: relative;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// flex-direction: row; 
// /	overflow: scroll;
	// width: 100%; 
	// height: calc(var(--vh, 1vh) * 100);
	
	
}
main .section:last-child {
  background: var(--bg, $body-bg);
	@include media-breakpoint-up(xl) {
    border-radius: 0 0 rem(80) rem(80);
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      height: 130px;
      width: 100vw;
      background: inherit;
      border-radius: inherit;
    }
  }
	--sPB: #{rem(60)};
  @include media-breakpoint-up(lg) {
    --sPB: #{rem(190)};
  }

}

main .section:first-child:not(.headerBlock) {
  margin-top: var(--header-height);
}

main {
	flex-grow: 1;
	@include media-breakpoint-up(xl) {
    border-radius: 0 0 rem(80) rem(80);
    position: relative;
    z-index: 1;

		&:before, &:after {
			content: '';
			position: absolute;
			z-index: -2;
      bottom: -1px;
			height: 130px;
			width: 200px;
			background: var(--bg-footer);
		}
		&:before {
			left: 0;
			--bg-footer: #{$indigo};
		}
		&:after {
			right: 0;
			--bg-footer: #{$purple-600};
		}
  }
}




.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}



.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}
.fw-700 {
	font-weight: 700;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}



.image-source-link {
	color: #98C3D1;
}

strong,
.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs__btn-accordion{
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {}

	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}



.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs; 
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	} 
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #E6E6E6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-primary) ;
		}
	}
}




@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

picture {
	display: block;
	img {
		@extend .res-i;
	}

}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover; 
}


a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}


.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;

}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }




.custom-scroll {
	@include  custom-scroll;
}

::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>"); 
}

.swiper-wrapper{
	
	// @include row-sw(10px, sm, 100px);
}




// .btn-outline-light,
// .btn-outline-primary{
// 	--bs-btn-color: #{$body-color};
// }

.btn,
.form-control,
.form-select{
	box-shadow: none !important;
}


.fancybox__content :focus:not(.carousel__button.is-close){
	outline: none !important;
}

.form-switch ,
.form-check-input,
.form-check{
	cursor: pointer;
}



.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
	img.object-fit-js{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

h1, .h1 {
	@include media-breakpoint-down(md) {
    font-size: rem(28);
  }
}

h2, .h2 {
	@include media-breakpoint-down(md) {
    font-size: rem(32);
  }
}

h3, .h3 {
	@include media-breakpoint-down(md) {
    font-size: rem(28);
  }
}

.text-large {
  
	@include media-breakpoint-up(md) {
    font-size: rem(24);
  }
}

.inner-wrapper {
  padding: rem(24) rem(16);
  border-top-right-radius: rem(32);
	@include media-breakpoint-up(md) {
    padding: rem(24) rem(24) rem(48);
    border-top-right-radius: rem(64);
  }

  &_white {
    background: $white;
  }
}

.btn-light {
  --bs-btn-color: #{$body-color};
  --bs-btn-bg: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #{$body-color};
  --bs-btn-hover-bg: #f5f5f5;
  --bs-btn-hover-border-color: #f5f5f5;
}

.btn-outline-light {
  --bs-btn-color: white;
  --bs-btn-border-color: white;

  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #f5f5f5;
}

.btn-outline-primary {
  --bs-btn-color: #1a1230;
  --bs-btn-border-color: #1a1230;

  --bs-btn-hover-color: #1a1230;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: #{$purple-600};
}

.btn-primary {
  // --bs-btn-color: #fff;
  // --bs-btn-bg: #1a1230;
  // --bs-btn-border-color: #1a1230;
  // --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #{$purple-600};
  --bs-btn-hover-border-color: #{$purple-600};
  --bs-btn-disabled-color: #{$gray-700};
  --bs-btn-disabled-bg: #{$gray-400};
  --bs-btn-disabled-border-color: #{$gray-400};
}

.btn-info {
  --bs-btn-color:white;
  --bs-btn-hover-color: white;
  // --bs-btn-bg: #0098e3;
  // --bs-btn-border-color: #0098e3;
  // --bs-btn-hover-bg: #26a7e7;
  // --bs-btn-hover-border-color: #1aa2e6;
  // --bs-btn-focus-shadow-rgb: 0, 129, 193;
  // --bs-btn-active-color: #000;
  // --bs-btn-active-bg: #33ade9;
  // --bs-btn-active-border-color: #1aa2e6;
  // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  // --bs-btn-disabled-color: #000;
  // --bs-btn-disabled-bg: #0098e3;
  // --bs-btn-disabled-border-color: #0098e3;
}

.text-indigo {
  color: $indigo;
  line-height: 130%;
}

.text-purple {
  color: $purple;
}

.badge {
  &:not(.text-bg-light) {
    color: var(--bs-badge-color) !important;
  }
  text-align: start;
  display: inline-block;
  // width: auto;
  // vertical-align: baseline;
  white-space: unset;

	@include media-breakpoint-up(md) {
    --bs-badge-font-size: #{rem(18)};
  }
}
.text-bg-dark {
  background-color: rgba(128, 49, 255, 1) !important;
}


.text-bg-gradient {
  background: $gradient-dark;
}
.text-bg-black {
  background: $purple-600;
}

.text-bg-light {
  background-color: #EFE8FF !important;
}