@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-back {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-arr-next {
	$h: 12;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(15 / #{$h} *1em );
}
.icon-arrowUpRight {
	$h: 40;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(40 / #{$h} *1em );
}
.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-download {
	$h: 32;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-edit {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-exit {
	$h: 23;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(19 / #{$h} *1em );
}
.icon-eye {
	$h: 32;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-eye-off {
	$h: 32;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(32 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-next {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(25 / #{$h} *1em );
}
.icon-noun-glasses {
	$h: 21;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(20 / #{$h} *1em );
}
.icon-prev {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(25 / #{$h} *1em );
}
.icon-question {
	$h: 25;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-x {
	$h: 40;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(40 / #{$h} *1em );
}
