mixin sFrameSlider(data)
	// start sFrameSlider
	+b.SECTION.sFrameSlider.section#sFrameSlider&attributes(attributes)
		.container
			+b.section-title
				h2 Раскадровка
			+e.slider--js.swiper
				.parallax-bg(style="background-image: url('img/svg/parallax.svg')" data-swiper-parallax="-28%").d-none.d-lg-block
				.parallax-bg(style="background-image: url('img/svg/parallax-mob.svg')" data-swiper-parallax="-28%").d-lg-none

				.swiper-wrapper
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Кадр 1','148 дней','13 февраля — 11 июля','Прием заявок','')
						+e.text Узнайте об этапах и правилах подачи заявок в #[a(href="#") чек-листе участника]
						+e.btn.btn.btn-light(href='#') Подать заявку
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Кадр 2','20 дней','14 июля — 3 августа','Техническая экспертиза','Убедимся, что все проекты соответствуют критериям премии')
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Кадр 3','27 дней','4 августа — 31 августа','Экспертная комиссия','Эксперты отберут 60 финалистов — топ-5 в каждой из 4 номинаций в 3 блоках')
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Кадр 4','13 дней','8 сентября — 21 сентября','Голосование жюри','Какой-то другой текст Какой-то другой текстКакой-то другой текст')
					.swiper-slide(data-swiper-parallax="-300"): +frameSlide('Кадр 5','Очно в Москве','2 октября','Премьера','Торжественная церемония награждения пройдет в Москве').--primary
						+img(src="img/svg/stars.svg", alt="").stars.stars_rotate
	// end sFrameSlider

mixin frameSlide(s1, s2, date, t, p)
	+b.frame-slider&attributes(attributes)
		+e.top
			+e.nav
				.text-large= s1
				.text-large= s2
			+e.date= date
		+e.bottom
			+e.title.h3= t
			if p
				+e.text= p
			block