// start .sFrameSlider
.sFrameSlider {
	// --sPT: #{rem()};
  @include media-breakpoint-down(lg) {
    --sTPB: #{rem(26)};
    --sPB: #{rem(20)};
  }

  --sPB: #{rem(36)};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}

  .swiper-slide {
    height: auto;
    width: auto;
    &:not(:last-child) {
      margin-right: rem(16);
      @include media-breakpoint-up(lg) {
        margin-right: rem(24);
      }
    }
  }

  .swiper {
    overflow: visible;
    // position: relative;
    // z-index: 1;
    transform: translateX(-30px);
  }
  .swiper-wrapper {
    padding: rem(57) rem(32);
    @include media-breakpoint-up(lg) {
      padding: rem(80) rem(56);
      padding-bottom: rem(100);}
  }

  // &__slider--js {
  //   @include media-breakpoint-up(lg) {
  //     transform: translateX(20px);
  //   }
  // }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 145%;
    height: 100%;
    z-index: -1;
    // -webkit-background-size: cover;
    // background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: rem(32);
    @include media-breakpoint-up(lg) {
      width: 122%;
      border-top-left-radius: rem(64);
    }

    // @include media-breakpoint-up(xxl) {
    //   width: 152%;
    // }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFrameSlider

.frame-slider {
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(26);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(30);
    }
  }

  display: flex;
  flex-direction: column;
  gap: rem(40);
  height: 100%;
  min-height: rem(390);
  border-radius: 32px 32px 0 0;
  background: linear-gradient(130deg, #ffffff 0%, #ffffff64 100%);
  padding: rem(24);

  width: rem(270);
	@include media-breakpoint-up(lg) {
    justify-content: space-between;
    width: rem(508);
    padding: rem(20);
  }

  &__title {
    margin-bottom: rem(12);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(20);
    }
    @include media-breakpoint-only(md) {
      font-size: rem(30);
    }
  }

  &__text {
    @include media-breakpoint-up(lg) {
      font-size: rem(20);
    }

    a {
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: rem(24);
    @include media-breakpoint-down(lg) {
      --bs-btn-font-size: #{rem(16)};
      --bs-btn-padding-x: #{rem(10)};
      width: 100%;
      margin-top: rem(14);
      line-height: 1;
    }
  }

  .text-large {
    @include media-breakpoint-only(md) {
      font-size: rem(20);
    }
  }

  &__date {
    font-size: rem(20);
    @include media-breakpoint-up(lg) {
      font-size: rem(24);
    }
  }

  &__bottom {
    max-width: rem(430);
  }

  &--primary {
    background: linear-gradient(49deg, #9664ff 0%, #5400b7 100%);
    color: white;
  }

  position: relative;
  overflow: hidden;
  z-index: 1;
  .stars {
    position: absolute;
    bottom: 0;
    right: -20px;
    z-index: -1;
    filter: blur(3px);
    opacity: .6;
    // transform: translateY(10%);
    @include media-breakpoint-up(lg) {
      width: rem(250px);
      bottom: rem(-30);
    }
  }
  .stars_rotate {
    transform: rotate(-20deg) translateY(10%) scale(-1, 1);
  }
}