mixin sFrameSlider(data)
	// start sFrameSlider
	+b.SECTION.sFrameSlider.section#sFrameSlider&attributes(attributes)
		.container
			+b.section-title
				h2 sFrameSlider
				
			+e.row.row
	// end sFrameSlider