mixin aggressiveMobileTgBanner() 
  .aggressiveMobileTgBanner#aggressiveMobileTgBanner
    .aggressiveMobileTgBannerTop 
      +img(src="img/svg/mob-aggressive-close.svg").aggressiveMobileTgBannerTop-closeBtn
      +img(src="img/aggressive-person.png").mob-aggressive-person
      .aggressiveDontWasteTimeMob Не теряйте время!
      .aggressiveDontWasteTimeMiniMob Отправьте заявку прямо сейчас — увеличьте шанс доработать ее по рекомендациям эксперта.

    .aggressiveBtnJoinWrapper
      .aggressiveBtnJoin Подать заявку

    