mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row
				+e.col.col-lg-8
					+b.section-title
						.h1.fw-700 Премия Правительства Москвы «В кадре»
						+e.sub Всероссийская HR-премия для госсектора
					+e.content 
						+e.apply.text-large.order-lg-2 #[span Прием заявок до 11 июля]
						.text-large.order-lg-3.span Церемония награждения — 2 октября 2025 года
						+e.btn.btn.btn-primary(href='#') Подать заявку
				+e.col.col-lg-4
		+e.video-wrap
			video(autoplay, muted, loop, playsinline, poster="img/effectsResult.jpg").section-img-bg.d-none.d-lg-block
				source(src="img/oblojka.mp4", type="video/mp4")
				source(src="img/oblojka.webm", type="video/webm")
		+e.img-wrap-mob.d-lg-none.ms-auto
			.bg-gr
			+img(src="img/headerBlock-bg-mob.png", alt="")
		+b.wrap-btn-apply.vertical-move.btn-wr--js.d-xl-none: .container: a.btn.btn-primary(href='#') Подать заявку
	+b.question-wrap.vertical-move.fw-700.btn-wr--js.link-modal-js(href='#modal-question') ?
	// end headerBlock