mixin sFirstRusAward(data)
	// start sFirstRusAward
	+b.SECTION.sFirstRusAward.section#sFirstRusAward&attributes(attributes)
		.container
			+b.section-title
				h2 sFirstRusAward
				
			+e.row.row
	// end sFirstRusAward