mixin sFirstRusAward(data)
	// start sFirstRusAward
	+b.SECTION.sFirstRusAward.section#sFirstRusAward&attributes(attributes)
		.container
			+b.section-title
				h2 Первая всероссийская премия Правительства Москвы
					span В сфере управления<br>персоналом
			+e.row.row
				+e.col.col-lg-4 
					.h3 Для страны
					.text-large Привлекаем в госсектор еще больше талантливых людей, которые будут развивать свои регионы на благо жителей
				+e.col.col-lg-4 
					.h3 Для отрасли
					.text-large Опубликуем проекты победителей, чтобы любая команда в госсекторе могла перенять лучшие практики
				+e.col.col-lg-4 
					.h3 Для коллег
					.text-large В центре «кадра» — герои, которые делают счастливыми тех, кто трудится ради благополучия жителей
	// end sFirstRusAward