// start .sNominations
.sNominations {
	--sPT: #{rem(20)};
	--sPB: #{rem(20)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sTPB: #{rem(56)};
	}
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(50)};
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		max-width: rem(1080);
	}
	&__item {
		position: relative;

		&:nth-child(odd) .nomination-card {
			border-radius: 0 var(--card-bord) 0 0;
			--bg-before: radial-gradient(
				50% 50% at 50% 50%,
				#0098e3 0%,
				rgba(0, 152, 227, 0.910508) 42%,
				rgba(0, 152, 227, 0.605) 64%,
				rgba(0, 152, 227, 0.374524) 77.5%,
				rgba(0, 152, 227, 0) 100%
			);

			&:before {
			}
		}

		&:nth-child(even) .nomination-card {
			border-radius: var(--card-bord) 0 0 0;
			--bg-before: radial-gradient(
				50% 50% at 50% 50%,
				#7f30ff 0%,
				rgba(127, 48, 255, 0.910508) 42%,
				rgba(127, 48, 255, 0.605) 64%,
				rgba(127, 48, 255, 0.374524) 77.5%,
				rgba(127, 48, 255, 0) 100%
			);

			&:before {
			}
		}
		&:nth-child(3) {
			border-radius: 0 0 0 var(--card-bord);
		}
	}

	&__grid {
		display: grid;
		gap: rem(24);
		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(2, 1fr);
			.wrapper {
				grid-column: span 2;
			}
		}
		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(32);
		}
	}

	.nomination-card {
		--card-bord: #{rem(32)};
		@include media-breakpoint-up(lg) {
			--card-bord: #{rem(56)};
		}
	}
	.wrapper {
		overflow: hidden;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sNominations

.nomination-card {
	@include mt;

	.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
	.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
		right: rem(-10);
		// margin: 12px 0;
	}
	.custom-scroll {
		height: calc(100% - rem(40));
	}
	// .mCSB_container {
	//   height: 100%;
	//   display: flex;
	//   flex-direction: column;
	//   justify-content: space-between;
	// }

	.icon-x {
		position: absolute;
		bottom: rem(-4);
		left: rem(-4);
	}
	.h3 {
		max-width: 90%;
		@include media-breakpoint-up(lg) {
			max-width: rem(348);
			margin-bottom: rem(12);
		}
	}
	&__text {
		opacity: 0.7;
	}

	.h3 {
		margin-bottom: rem(4);
	}

	min-height: rem(279);
	height: 100%;
	@include media-breakpoint-up(lg) {
		min-height: rem(344);
	}
	padding: rem(28) rem(16);
	@include media-breakpoint-up(xl) {
		padding: rem(26) rem(24);
	}

	position: relative;

	&:not(.nomination-card--white) {
		&:hover {
			cursor: pointer;
		}

		color: $white;
		overflow: hidden;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			top: -70%;
			left: -35%;
			border-radius: 100%;
			// filter: blur(48px);
			width: 180%;
			height: 300%;
			transform: translateZ(0) rotate(10deg);
			background: var(--bg-before);
			// @include mt;
			transition: translate 0.3s ease;
			left: -44%;
			@include media-breakpoint-up(lg) {
			}
		}
	}

	&:hover::before {
		// left: -10% !important;
		translate: 0 -10%;
	}

	.img {
		position: absolute;
		bottom: 6px;
		right: 10px;
		width: 58%;
	}

	.icon {
		fill: none;
		stroke-width: 3px;
		stroke: white;
		stroke-linecap: round;
	}

	.icon-x {
		opacity: 0.4;
	}

	&__content {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;

		position: relative;
		z-index: 2;
	}

	&--white {
		background: $white;
		margin: rem(2);
		height: calc(100% - rem(4));

		.content {
			@include media-breakpoint-up(lg) {
				align-items: flex-start;
			}
		}

		.h3 {
			color: $purple-300;
		}

		&::after {
			content: "";
			position: absolute;
			top: -2px;
			left: -2px;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			z-index: -1;
			background: $gradient;
			border-top-right-radius: calc(var(--card-bord) + 2px);
		}

		.img {
			z-index: 0;
			position: absolute;
			bottom: 0;
			right: 10px;
			width: 74%;
			max-height: 100%;
			transform: translateX(18%);
			opacity: 0.4;
			@include media-breakpoint-up(lg) {
				max-height: none;
				height: 120%;
				transform: translate(20%, 10%);
			}
		}

		.sQuestion {
			width: 390px;
			height: 390px !important;
			transform: none !important;
			opacity: .8;
			right: 15px;
			top: -30px;

			@include media-breakpoint-down(xl) {
				width: 50%;
				top: -15%;
				right: -5%;
			}

			@media screen and (max-width: 976px) and (min-width: 576px) {
				width: 40%;
				top: -15%;
				right: 0;
			}

			@media screen and (max-width: 575px) and (min-width: 422px) {
				width: 50%;
				top: -12%;
			}

			@media screen and (max-width: 421px) and (min-width: 320px) {
				width: 65%;
				top: -10%;
			}

			@media screen and (max-width: 319px) {
				width: 70%;
				top: -10%;
			}
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(32)};
		@include media-breakpoint-down(lg) {
			--bs-btn-font-size: #{rem(16)};
			line-height: 1;
			--bs-btn-padding-x: #{rem(16)};
			margin-bottom: rem(-8);
		}
	}

	&--hide {
		position: absolute;
		top: 0;
		left: 0;
		// background: blue;
		z-index: 5;

		p {
			@include media-breakpoint-up(xl) {
				font-size: rem(20);
			}
		}
	}

	.title {
		margin-bottom: rem(10);
	}

	// &__wrap {
	//   overflow-y: auto;
	// }
}
