mixin sNominations(data)
	// start sNominations
	+b.SECTION.sNominations.section#sNominations&attributes(attributes)
		.container
			+b.section-title
				h2 Номинации
				.text-large Подать заявку может сотрудник от организации, которая успешно реализовала один или несколько проектов в сфере управления людьми
			+e.grid
				+e.item.item-nomin--js: +nominationCard('Секрет удачного кадра: ', 'привлечение', '2')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								p Отмечаются проекты, которые помогли привлечь в организацию талантливых сотрудников. Поделитесь практическими решениями, благодаря которым вам удалось нанять лучшие кадры с комфортом как для команды, так и для кандидатов!
							+icon('x')
				+e.item.item-nomin--js: +nominationCard('В фокусе:', 'удержание', '1')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								//- .title.text-large Молодежный карьерный проект:
								p Такой проект помогает организации стать местом, где сотрудникам действительно хочется работать. Расскажите, как именно вам удается вдохновлять ярких специалистов на работу именно в вашей команде.
							+icon('x')
				+e.item.item-nomin--js: +nominationCard('Академия талантов:', 'развитие', '2')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								//- .title.text-large Молодежный карьерный проект:
								p Ваш проект должен быть направлен на обучение ваших сотрудников, на возможности их развития. Вы внедрили эффективную систему, которая помогает специалистам раскрыть потенциал? Тогда эта номинация для вас!
							+icon('x')
				+e.item.item-nomin--js: +nominationCard('Новый ракурс:', 'HR-инновации', '1')
					+b.nomination-card.nomination-card--hide
						+e.content
							+e.wrap.custom-scroll
								//- .title.text-large Молодежный карьерный проект:
								p Эта номинация для первопроходцев в области работы с персоналом. Автоматизация и цифровизация, инновационный подход и уникальные решения в области HR — все это может быть признаком того, что эта номинация создана для вашего проекта!
							+icon('x')
				+e.item.wrapper: +b.nomination-card--white
					+img(src=`img/svg/sNomination-2.svg`, alt="").img
					+e.content.content
						+e.wrap
							.h3 У вас возник вопрос?
						+gradientBtn('Получить консультацию').link-modal-js(href='#modal-question')

	// end sNominations


mixin nominationCard(t, sub, i)
	+b.nomination-card&attributes(attributes)
		+img(src=`img/svg/sNomination-${i}.svg`, alt="").img
		+e.content
			+e.wrap
				.h3=t
				+e.text.text-large=sub
			+icon('arrowUpRight')
	if block
		block