mixin sNominations(data)
	// start sNominations
	+b.SECTION.sNominations.section#sNominations&attributes(attributes)
		.container
			+b.section-title
				h2 sNominations
				
			+e.row.row
	// end sNominations