mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white
				+e.logo-wrap 
					+img(src="img/svg/emblem.svg", alt="")
					.text-large Премия Правительства Москвы в сфере управления персоналом «В кадре» проводится по решению Мэра Москвы
				+img(src="img/svg/q.svg", alt="").q
				+b.section-title
					.h3 Работа на благо жителей — не просто работа
				+e.row.row
					+e.col.col-lg-4
						+e.img-wrap
							+img(src="img/sob.png", alt="").img
							.h3 Сергей Собянин
							.text-large Мэр Москвы
					+e.col.col-lg-8
						+e.content.BLOCKQUOTE
							.text-l Благодаря неравнодушным профессионалам в городах и поселках нашей страны открываются новые школы и поликлиники, благоустраиваются улицы, появляются удобные цифровые сервисы и множество других возможностей для комфортной жизни граждан. 
							.text-l Именно поэтому привлечение и профессиональное развитие государственных служащих и работников бюджетной сферы является важнейшей задачей руководителей всех уровней. 
							.text-l Скажу прямо, это задача не из легких. Тем более в нынешних условиях, когда на рынке труда — высокий дефицит кадров и конкуренция за лучших профессионалов. 
							.text-l Мы готовы делиться собственным опытом и с радостью узнаем об оригинальных разработках наших коллег. 
							.text-l Так родилась идея Всероссийской премии в сфере управления персоналом «В кадре». Новая награда позволит выявлять и поощрять лучшие кадровые команды госсектора и станет площадкой для обмена инновационными HR-решениями и развития сотрудничества между специалистами со всей страны.
							.text-l Общими усилиями мы будем решать кадровые проблемы и повышать престиж государственной службы в интересах граждан и на благо страны. 
							.text-l Желаю удачи и успехов.
	// end sAbout