// start .sAbout
.sAbout {
	--sPT: #{rem(12)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
    @include media-breakpoint-up(lg) {
      --sPB: #{rem(70)};
      }
	
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title{
		max-width: rem(580);
    .h3 {
      @include media-breakpoint-down(lg) {
        font-size: rem(32);
      }
    }
	}
  .inner-wrapper {
    position: relative;
    @include media-breakpoint-up(lg) {
      padding-bottom: rem(56);
    }
  }

	&__logo-wrap {
		display: flex;
    gap: rem(12);
    align-items: center;
    line-height: 1.36;

    max-width: rem(400);
    // margin-bottom: rem(64);
    @include media-breakpoint-up(lg) {
      gap: rem(24);
      margin-bottom: rem(60);
    }

    img {
      width: rem(54);
      @include media-breakpoint-up(lg) {
        width: rem(76);
      }
    }
	}

  &__img-wrap {
		.h3 {
      @include media-breakpoint-down(lg) {
        font-size: rem(24);
        margin-bottom: rem(2);
      }
    }
  }

  .q {
    display: block;
    margin: rem(8) 0 rem(6);
    margin-left: auto;
    width: 18%;
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: 6%;
      top: 7%;
    }
  }

	&__content {
    max-width: rem(704);
		.text-large:not(:last-child) {
      margin-bottom: rem(24);
    }
    line-height: 136%;
    @include media-breakpoint-up(lg) {
      line-height: 1.45;
    }

    .text-large {
      text-wrap: balance;
    }
	}

  .text-large {
    span {
      font-weight: 700;
    }
  }

  .img {
    max-width: 100%;
    border-radius: rem(32);
    margin-bottom: rem(8);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(18);
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout