mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white
				+e.logo-wrap 
					+img(src="img/svg/emblem.svg", alt="")
					.text-large HR-премия «В кадре» проводится по решению Мэра Москвы
				+img(src="img/svg/q.svg", alt="").q
				+b.section-title
					.h3 Работа на благо жителей — не просто работа
				
				+e.row.row
					+e.col.col-lg-4
						+e.img-wrap
							+img(src="img/sob.png", alt="").img
							.h3 Сергей Собянин
							.text-large Мэр Москвы
					+e.col.col-lg-8
						+e.content
							.text-large За каждым улучшением в регионе, в городе, в поселке в первую очередь стоят люди. Именно благодаря #[span неравнодушным профессионалам] появляются обновленные поликлиники, благоустроенные улицы, доступные цифровые сервисы, удобный транспорт, современное производство и тысячи других возможностей для комфортной жизни.
							.text-large Мы создали уникальную площадку, чтобы отметить #[span выдающиеся результаты] в области управления персоналом и поддержать команды, которые создают лучшее будущее для всех жителей. Независимые эксперты выберут самые эффективные HR-решения — и вместе мы сделаем их доступными для всех регионов России
	// end sAbout