mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.inner-wrapper.inner-wrapper_white
				+e.logo-wrap 
					+img(src="img/svg/emblem.svg", alt="")
					.text-large Премия Правительства Москвы в сфере управления персоналом «В кадре» проводится по решению Мэра Москвы
				+img(src="img/svg/q.svg", alt="").q
				+b.section-title
					.h3 Работа на благо жителей — не просто работа
				+e.row.row
					+e.col.col-lg-4
						+e.img-wrap
							+img(src="img/sob.png", alt="").img
							.h3 Сергей Собянин
							.text-large Мэр Москвы
					+e.col.col-lg-8
						+e.content.BLOCKQUOTE
							.text-large «Мы создали уникальную площадку, чтобы отметить наших коллег, которые в непростых условиях дефицита кадров формируют лучшие команды и целенаправленно работают над тем, чтобы госсектор оставался привлекательным и надежным работодателем. Ведь работа на благо жителей нашей страны — не просто работа. И за каждым улучшением в регионе, в городе, в поселке в первую очередь стоят неравнодушные профессионалы.
							.text-large Именно благодаря им появляются обновленные поликлиники, благоустроенные улицы, доступные цифровые сервисы, удобный транспорт и тысячи других возможностей для комфортной жизни.
							.text-large Независимые эксперты выберут самые эффективные кадровые решения — и о них узнает вся Россия».
	// end sAbout