extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Modals page '
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main.modal
		+modalMob() 
		.section.container 
		//- +page-head(title,title, title, title , title,title, title, title, title,title, title, title)
		.section.container
			h2 Main page
			mixin btn(a, t)
				a( href= a).btn.btn-primary.link-modal-js= t
			+btn("#modal-question", 'Задать вопрос')
			+btn("#modal-auth", 'Личный кабинет')
			+btn("#modal-auth-invalid", 'Личный кабинет invalid')
			+btn("#modal-auth-invalid1", 'Личный кабинет invalid1')
			+btn("#modal-auth-invalid2", 'Личный кабинет invalid2')
			+btn("#modal-auth-invalid3", 'Личный кабинет invalid3')
			+btn("#modal-auth-success", 'Успешная Регистрация')
			+btn("#modal-mail-confirmed", 'Почта подтверждена!')
			+btn("#modal-mail-confirmed1", 'Почта подтверждена! invalid')
			+btn("#modal-partner", 'Стать партнером')
			h3 Сброс пароля
			+btn("#modal-reset-1", 'Сброс пароля 1')
			+btn("#modal-reset-2", 'Сброс пароля 2')
			+btn("#modal-reset-3", 'Сброс пароля invalid')
			+btn("#modal-reset-info", 'Войти')
			+btn("#modal-reset-success", 'Пароль успешно изменен')
			+btn("#modal-reset-success1", 'Пароль успешно изменен invalid')
		.section: .container
			h2 Cabinet
			+btn("#modal-frames", 'Раскадровка')
			+btn("#modal-exit", 'Выйти')
			+btn("#modal-cancel", 'Отменить заполнение заявки')
			+btn("#modal-cancel-1", 'Отменить 1')
			+btn("#modal-cancel-2", 'Отменить 2')
			+btn("#modal-criteria-1", 'Критерии 1')
			+btn("#modal-criteria-2", 'Критерии 2')
			+btn("#modal-info-1", 'Инфо1')
			+btn("#modal-info-2", 'Инфо2')
			+btn("#modal-info-3", 'Инфо3')
			+btn("#modal-info-4", 'Инфо4')
			h3 Модальное если зашел в моб
			+btn("#modal-mob", 'Окно')
		//- +sCatalog
	+parts('footer')
      



