extends ../layout/main.pug
include ../blocks/footer/_footer.pug


include ../blocks/sAuth/_sAuth.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sNewsPage/_sNewsPage.pug
include ../blocks/sContent/_sContent.pug
 

block variables
	- let  mainPage= 'main-page white-bg' 
	- let  bg= null

block title
	- let  title= 'Мои заявки'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-cabinet')
	main
		+sAuth3(title)
	+modalMob() 
	+b.info-window--js.consult-info.hidden
		p Готовы проконсультировать вас и помочь заполнить заявку.
		p Нажмите кнопку, и мы свяжемся с вами в ближайшее время.
		+e.btn.btn.btn-outline-primary.consult--js.BUTTON Получить консультацию
		+img(src="img/svg/question-i.svg", alt="").info-bg
		.close-btn: +icon('x')
	+b.info-window--js.hidden
		+e.content.d-flex
			+img(src="img/svg/success.svg", alt="")
			.small Спасибо, мы скоро свяжемся с вами по контактным данным, которые вы указали при регистрации личного кабинета
			.close-btn: +icon('x')
	+footer