extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/footer/_footer.pug
 


block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header-main')
	main
		+b.s404--pause.section.container.unavailable-container
			.row.g-4(style="position: relative; width: 100%;")
				+e.col-text.col.settings-column-wrapper
					h1.settings-pause Техническая пауза

					p.settings-paragraph.settings-text-mw(style="margin-bottom: 32px;") Страница временно недоступна, но мы уже работаем над тем, чтобы устранить все неполадки.

					.panel-white.settings-text-mw(style="margin-bottom: 20px; border-radius: 12px;")
						p.settings-paragraph #[strong Если у вас возник вопрос], пожалуйста, обратитесь в нашу службу поддержки по телефону #[a(href="tel:8(800)707-13-05") 8 (800) 707-13-05] или напишите на #[a(href="mailtovkadre-info@mos.ru") vkadre-info@mos.ru]. 
						
						p.settings-paragraph(style="margin-top: 5px;") Мы обязательно поможем.
				.col-xxl-6.col-sm-5.text-center.settings-img
					img(src="img/tech_1.png", alt="").res-i.m-0