extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/footer/_footer.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sHeroes/_sHeroes.pug
include ../blocks/sNominations/_sNominations.pug
include ../blocks/sAwards/_sAwards.pug
include ../blocks/sFrameSlider/_sFrameSlider.pug
include ../blocks/sAbility/_sAbility.pug
include ../blocks/sFirstRusAward/_sFirstRusAward.pug
include ../blocks/sJury/_sJury.pug
include ../blocks/sExperts/_sExperts.pug
include ../blocks/sAbility/_sAbility.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sTg/_sTg.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/tg-subscribe/tgSubscribe.pug
include ../blocks/aggressive-mobile-tg-banner/aggressiveMobileTgBanner.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	+parts('header-main')
	main
		+headerBlock 
		+tgSubscribe
		+aggressiveMobileTgBanner
		+b.head-line
			.container
				img(src="img/svg/emblem.svg", alt="")
				p Премия учреждена по решению Мэра Москвы постановлением Правительства Москвы от 11 февраля 2025 года № 192-ПП «Об учреждении премии Правительства Москвы в сфере управления персоналом «В кадре»
		+sContent3
		+sAbout
		+sHeroes
		+sNominations
		+sAwards
		+sFrameSlider
		+sAbility
		+sFirstRusAward
		+sJury
		+sExperts
		+sHeroes2
		+sNews
		+sTg
		+sContent


		+sExperts2
		+sForm()
		+sForm2()
		+sContent2
		
	+footer().--wide