#sContent2 {
	--sTPB: #{rem(26)};
	--sPB: #{rem(60)};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(40)};
    --sPB: #{rem(190)};
  }
}
	// start .sContent
	.sContent {
	
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: #{rem(20)};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(8)};
  }
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(8)};
    @include media-breakpoint-up(lg) {
      --bs-gutter-y: #{rem(16)};
    }
	}

	.section-title--flex {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
	}

  .section-title {
    &_smaller {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: rem(32);
      }
      @include media-breakpoint-up(xl) {
        gap: rem(100);
      }
      @include media-breakpoint-down(md) {
        .h3 {
          font-size: rem(20);
        }
        .btn {
          --bs-btn-padding-y: #{rem(16)};
          width: 100%;
        }
      }

      .btn {
        flex-shrink: 0;
      }
    }
  }

  .inner-wrapper {
    @include media-breakpoint-up(lg) {
      padding: rem(40) rem(40);
      padding-right: rem(55);
      padding-bottom: rem(80);
    }
  }
	.logo {
    max-width: rem(183);
    margin-bottom: rem(24);
    @include media-breakpoint-up(lg) {
      max-width: rem(345);
      margin-bottom:0;
    }
  }
	&__item {
    max-width: rem(918);
    margin-bottom: rem(24);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(38);
    }
	}

  .text {
    max-width: rem(808);
    margin-bottom: rem(16);
    
    span {
      font-weight: 700;
    }
  }

  .btn {
    --bs-btn-padding-x: #{rem(16)};
    --bs-btn-padding-y: #{rem(10)};
    --bs-btn-font-size: #{rem(16)};
    line-height: 100%;
    @include media-breakpoint-up(lg) {
      --bs-btn-font-size: #{rem(24)};
      --bs-btn-padding-y: #{rem(16)};
    }
  }

  .btn-gradient {
    border-radius: 8px;
    @include media-breakpoint-down(lg) {
      font-size: rem(20);
    }

  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sContent

.card-material {
  padding: rem(16) rem(16);
  @include media-breakpoint-up(lg) {
    padding: rem(16) rem(24);
    min-height: rem(85);
    height: 100%;
  }
  min-height: rem(73);
  border-top-right-radius: rem(32px);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-up(lg) {
    gap: rem(40);
  }

  z-index: 1;
  background: $white;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(358deg, #e6f7ff 0%, #fff 100%);
    @include mt;
    border-radius: inherit;
  }
  &:hover:before {
    opacity: 1;
  }

  .icon {
    font-size: rem(28);
    transform: rotate(-45deg);
    flex-shrink: 0;
  }
}