mixin sJuryPage(data)
	// start sJuryPage
	+b.SECTION.sJuryPage.section#sJuryPage&attributes(attributes)
		.container
			<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position: absolute;">
				<defs>
					<clipPath id="custom-clip-path" clipPathUnits="objectBoundingBox">
						<path d="M1 1L0.31 1C0.26 1 0.21 0.9 0.18 0.74L0.13 0.26C0.09 0.1 0.03 -0.003 0 -0.003L-2.8 -0.003C-2.9 -0.003 -3 -0.25 -3 -0.55L-3 -30.25C-3 -31 -2.9 -31.4 -2.8 -31.4L0.82 -31.4C0.92 -31.4 1 -31 1 -30.25L1 1Z"/>
					</clipPath>
				</defs>
			</svg>
			.tabs
				.tabs__caption
					.tabs__btn.h2.active Жюри
					.tabs__btn.h2 Эксперты
				.tabs__content.active
					+e.content-wrap
						+e.text 
							.text-large Для специальной номинации «В кадре» мы сформировали команду признанных экспертов…
							.text-large Жюри внимательно изучат топ проектов финалистов в каждой номинации, которых отберут эксперты. Члены комиссии будут ориентироваться на….
					+e.wrap
						+e.item.item-nomin--js: +juryCardExtend('Тина Канделаки', '1')
						+e.item.item-nomin--js: +juryCardExtend('Ксения Власова', '1')
						+e.item.item-nomin--js: +juryCardExtend('Виктор Смородинов', '2')
						+e.item.item-nomin--js: +juryCardExtend('Ксения Власова', '1')
						+e.item.item-nomin--js: +juryCardExtend('Виктор Смородинов', '2')
						+e.item.item-nomin--js: +juryCardExtend('Виктор Смородинов', '2')
						+e.item.item-nomin--js: +juryCardExtend('Ксения Власова', '1')
						+e.item.item-nomin--js: +juryCardExtend('Виктор Смородинов', '2')
						+e.item.item-nomin--js: +juryCardExtend('Ксения Власова', '1')
				.tabs__content
					+e.content-wrap
						+e.text 
							.text-large Главная задача экспертов — объективно оценить проекты участников и сформировать топ-40 финалистов (по 5 в каждой номинации), которые поборются за победу в номинациях.
							.text-large Организаторы могут обратиться к следующим в рейтинге за финалистами участникам, если при формировании топ-40 один или несколько проектов не смогут продолжить борьбу за победу в своей номинации.
					+e.grid
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '1').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '4').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '3').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '4').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '3').--horiz
						+expertCard('Виктор<br>Смородинов', 'Управляющий директор «Газпром-медиа Развлекательное телевидение»', '4').--horiz
						+expertCard('Ксения<br>Власова', 'Директор международного направления, Банк Первый', '2').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '3').--horiz
						+expertCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '4').--horiz


	// end sJuryPage


mixin juryCardExtend(name, i)
	+b.jury-card-content&attributes(attributes)
		+e.content
			+icon('arrowUpRight')
			.h3 Тина<br>Канделаки
			+e.img-wrap: +img(`img/jury-c-${i}.png`).img
	+b.jury-card-content--hide
		+e.content
			+icon('x')
			.h4= name
			+e.descr.small Начальник Управления кадровых сервисов Правительства Москвы, заслуженный работник государственной службы Российской Федерации, кандидат экономических наук, член Экспертного совета по вопросам развития системы государственного управления при Правительстве Российской Федерации
			p «Мы, так же как и вы, стремимся формировать лучшую систему поддержки для своих команд. Мы знаем, что динамика, скорость, актуальность»

