// start .sJuryPage
.sJuryPage {
	// --sPT: #{rem(24)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
  @include media-breakpoint-up(lg) {
    --sPT: #{rem(80)};
  }

	&__text {
		max-width: rem(832);
	}
  ul.page-numbers {
    margin-top: rem(32);
  }

  .tabs {
    &__caption {
      display: flex;
      gap: 40px;
      @include media-breakpoint-up(lg) {
        gap: 80px;
      }
    }
    --card-pad-x: #{rem(16)};
    @include media-breakpoint-up(md) {
      --card-pad-x: #{rem(24)};
    }

    .tail {
      position: absolute;
      left: calc(100% - 5px);
      top: 0px;
      height: calc(100% + 2px);
      // width: 40%;
      @include media-breakpoint-up(lg) {
        left: calc(100% - 4px);
        top: -1px;
        height: calc(100% + 2px);
      }
      @include media-breakpoint-down(md) {
        transform: translateX(-20px);
      }
      @include media-breakpoint-down(lg) {
        transform: translateX(-5px);
      }
    }

    &__btn {
      padding: rem(10) var(--card-pad-x);
      padding-right: 4px;
      @include media-breakpoint-up(md) {
        padding: rem(12) var(--card-pad-x);
        padding-right: 2px;
      }
      position: relative;
      z-index: 1;
      &.active {
        order: -1;
      }
      &:not(.active) {
        transform: translateX(-40px);
        padding-left: rem(30);
        @include media-breakpoint-up(md) {
          transform: translateX(-50px);
          padding-left: rem(80);
        }
        @include media-breakpoint-up(lg) {
          transform: translateX(-100px);
          padding-left: rem(80);
        }
        z-index: 0;
        &:before {
          z-index: -2;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 101%;
        background: var(--bg-card-color, white);
        z-index: -1;
      }

      &:last-child:before {
        --bg-card-color: #{$blue-300};
      }
    }

    .h2 {
      margin-bottom: 0;
      @include media-breakpoint-down(sm) {
        font-size: rem(24);
      }
    }

    &__content {
      &:last-child .sJuryPage__content-wrap {
        --bg-card-color: linear-gradient(178deg, #{$blue-300} 0%, #{$body-bg} 80%);
        @include media-breakpoint-up(md) {
          --bg-card-color: linear-gradient(178deg, #{$blue-300} 0%, white 80%);
        }
      }
      .sJuryPage__content-wrap {
        border-radius: 0 rem(32) 0 0;
        padding: rem(20) var(--card-pad-x);
        @include media-breakpoint-up(md) {
          padding: rem(30) var(--card-pad-x);
          padding-top: rem(50);
        }
        @include media-breakpoint-up(lg) {
          border-radius: 0 rem(64) 0 0;
        }
        background: var(--bg-card-color, white);
      }

      .text-large {
        margin-bottom: rem(10);
        @include media-breakpoint-up(lg) {
          margin-bottom: rem(16);
        }
        @include media-breakpoint-down(sm) {
          font-size: rem(14);
        }
      }

      transform: translateY(-1px);
    }
  }

  .wrap-container {
    border-radius: 0 0 32px 32px;
    @include media-breakpoint-up(lg) {
      border-radius: 0 0 rem(64) rem(64);
      padding-top: rem(50);
    }
  }

	&__item {
    min-height: rem(320);
    @include media-breakpoint-up(lg) {
      min-height: rem(508);
    }
		position: relative;
    @include media-breakpoint-up(xl) {
      &:nth-child(3n + 1) {
        transform: translateY(-20px);
      }
      &:nth-child(3n + 2) {
        transform: translateY(86px);
      }
      &:nth-child(3n + 3) {
        transform: translateY(-40px);
      }
    }

    @include media-breakpoint-up(xxl) {

      &:nth-child(3n + 3) {
        transform: translateY(-150px);
      }
    }
	}

  &__wrap {
    background: white;
    padding: rem(16);

    display: grid;
    gap: rem(24);
    grid-template-columns:1fr;
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @include media-breakpoint-up(md) {
      padding: rem(24);
    }

    @include media-breakpoint-up(xl) {
      gap: rem(32);
      padding-bottom: calc(86px + 34px);
    }

    @include media-breakpoint-up(xxl) {
      gap: rem(44);
    }
  }
  .person-card__img-wrap {
    // margin-left: 0;
    // margin-right: 0;
  }

  &__grid {
    --grid-gap: 20px;
    --left-gap: 6px;
    @include media-breakpoint-up(md) {
      // margin-left: -24px;
      // margin-right: -24px;
    }
    @include media-breakpoint-up(lg) {
      --grid-gap: 32px;
      --left-gap: 12px;
    }
    display: grid;
    // grid-template-rows: 1fr;
    gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)  );
    @include media-breakpoint-up(md) {
      background: white;
      padding: var(--left-gap);
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(auto-fill, minmax(392px, 1fr)  );
    }
  }

  .person-card {
    
    @include media-breakpoint-between(md, xxl) {
      &:nth-child(4n + 3) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: calc(var(--left-gap) * -1);
          width: calc(100% * 2 + var(--grid-gap) + (var(--left-gap) *2));
          height: calc(100% + var(--grid-gap));
          background: $body-bg;
          border-radius: 0 32px;
          z-index: 0;
        }
      }
    }
    @include media-breakpoint-up(xxl) {
      &:nth-child(6n + 4) {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: calc(var(--left-gap) * -1);
          width: calc(100% * 3 + (var(--grid-gap) + var(--left-gap)) *2);
          height: calc(100% + var(--grid-gap));
          background: $body-bg;
          border-radius: 0 32px;
          z-index: 0;
        }
      }
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sJuryPage

.jury-card-content {
  
  @include mt;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 0 0 22px 0;
  @include media-breakpoint-up(lg) {
    border-radius: 0 0 32px 0;
    // height: auto;
    // min-height: rem(508);
  }

  &__img-wrap {
    position: relative;
    height: rem(270);
    @include media-breakpoint-up(lg) {
      height: rem(372);
    }
  }

  &:not(.jury-card-content--hide) {
    color: white;
    background: linear-gradient(180deg, #8134fe 0%, #b176ff 100%);
    &::before {
      content: '';
      position: absolute;
      border-radius: inherit;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #7e2fff 0%, #d9bcff 100%);
      z-index: 0;
      opacity: 0;
      @include mt;
    }
    .jury-card-content {
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &:hover::before {
      opacity: 1;
    }
    .img {
      filter: grayscale(1);
      @include mt;
    }
    &:hover .img {
      filter: grayscale(0);
    }
  }

  &__content {
    padding: rem(16);
    padding-bottom: 0;
    
    height: 100%;
    @include media-breakpoint-up(lg) {
      padding: rem(18) rem(24);
      padding-bottom: 0;
    }

    .custom-scroll {
      height: calc(100% - 18px);
    }
  }
  .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -16px;
  }

  .img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    // height: 100%;
  }

  .h3 {
    max-width: 90%;
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(xl) {
      font-size: rem(48);
    }
  }

  &--hide {
    background: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

  }
  &__descr {
    margin-bottom: rem(20);
    color: $gray-600;
    line-height: 120%;
    @include media-breakpoint-down(lg) {
      font-size: rem(12);
    }
  }

  p {
    line-height: 120%;
    // font-size: rem(14);
    // @include media-breakpoint-up(xl) {
    //   font-size: rem(20);
    // }
  }
  
  .icon {
    fill: none;
    stroke-width: 3px;
    stroke: white;
    stroke-linecap: round;
    font-size: rem(24);

    position: absolute;
    top: rem(12);
    right: rem(12);
  }

  .icon-x {
    stroke: $body-color;
  }
}


.item-nomin--js {

  [class*="--hide"] {
    opacity: var(--op);
    visibility: hidden;
    --op: 0;
  }

  &.active {
    [class*="--hide"] {
      --op: 1;
      visibility: visible;
    }

    &>div:not([class*="--hide"]) {
      opacity: 0;
      visibility: hidden;
    }
  }
}