// start .sHeroes
.sHeroes {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
    @include media-breakpoint-up(lg) {
      --sPB: #{rem(46)};
      }
	
	&__row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(32)};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__grid {
		display: grid;
    grid-template-columns: 1fr;
    gap: rem(16);
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3,1fr);
    }
    @include media-breakpoint-up(xxl) {
      gap: rem(60);
    }
	}

  &.bg-before.section .container {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sHeroes

.heroes-card {
  padding: rem(24);
  padding-top: rem(16);
  border-radius: $border-radius;
  overflow: hidden;
  background: $body-bg;
  height: 100%;

  min-height: rem(178);
	@include media-breakpoint-up(lg) {
    min-height: rem(228);
  }
  @include media-breakpoint-up(xxl) {
    padding-right: rem(46);
  }

  &__text {
    line-height: 1.2;
    max-width: rem(360);
  }

  position: relative;
  z-index: 1;
  .img {
    position: absolute;
    z-index: -1;
    bottom: rem(5);
    right: rem(10);
    height: rem(110);
    @include media-breakpoint-up(lg) {
      bottom: 0;
      right: 0;
      height: rem(157);
    }
  }
}

.card-heroes-icon {
  img {
    margin-bottom: rem(18);
    width: rem(40);
  }
  &__text {
    font-size: rem(24);
  }
}

.bg-before.section {
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  .inner-wrapper.inner-wrapper_white {
    // backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.6);
  }

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -45%) rotate(5deg);
    background: $blue;
    width: 300vw;
    height: rem(500);
    border-radius: 50%;
    z-index: -1;
    filter: blur(52px);

    @include media-breakpoint-up(sm) {
      filter: blur(102px);
    }

    @include media-breakpoint-up(lg) {
      top: 50%;
      width: 110vw;
      height: 80%;
    }
  }
}