.form-wrap {
	&__input-wrap {
		// @extend .form-group;
		margin-bottom: rem(20);
	}
	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
	}
	&__btn {
		cursor: pointer;
		margin-bottom: rem(15);
	}
	label {
		width: 100%;
		display: block;
	}

  &__input-title {
    margin-bottom: rem(8);
    display: inline-block;
  }
}

//
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(xs) {
}
@include media-breakpoint-between(md, xl) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-down(xs) {
}

.form-check {
}
.form-check-input {
}
.form-check-label {
}

input[type="number"] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.required {
  position: relative;
  &:after {
    content: '*';
    color: $danger;
  }
}

.sForm .form-group:has(input[required]) {
    // position: relative;
    // &:after {
    //   content: '*';
    //   display: inline-block;
    //   position: absolute;
    //   top: 11px;
    //   left: -5px;
    //   color: $danger;
    // }

}

.sForm {
  label:has(input[required]) .form-wrap__input-title {
    position: relative;
    font-size: rem(16);
    pointer-events: none;
    color: transparent !important;
    margin-bottom: 0;
    transform: translateY(rem(10px));
    &:after {
      content: '*';
      display: inline-block;
      color: $danger;
    }
  }

  input[required] {
    position: relative;
    z-index: 2;
    margin-top: calc( rem(30) * -1);
  }
}
