mixin sJury(data)
	// start sJury
	+b.SECTION.sJury.section#sJury&attributes(attributes)
		.container
			+b.section-title
				+e.title-wrap
					h2 Жюри
					a(href='#') Посмотреть жюри
						+icon('arr-next')
				.text-large Определят по 3 победителя<br>в каждой номинации
			+e.link.A(href='#') Посмотреть всех
				+icon('arr-next')
			+e.slider--js.swiper.auto-slider--js
				.swiper-wrapper
					.swiper-slide: +juryCard('Тина<br>Канделаки', 'Управляющий директор «Газпром-медиа Развлекательное телевидение»', '1').--gradient
					.swiper-slide: +juryCard('Тина<br>Канделаки', 'Управляющий директор «Газпром-медиа Развлекательное телевидение»', '1').--white
					.swiper-slide: +juryCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--gradient
					.swiper-slide: +juryCard('Ксения<br>Власова', 'Директор международного направления, Банк Первый', '3').--white
					.swiper-slide: +juryCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--gradient
					.swiper-slide: +juryCard('Ксения<br>Власова', 'Директор международного направления, Банк Первый', '3').--white
					.swiper-slide: +juryCard('Тина<br>Канделаки', 'Управляющий директор «Газпром-медиа Развлекательное телевидение»', '1').--gradient
					.swiper-slide: +juryCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--gradient
					.swiper-slide: +juryCard('Ксения<br>Власова', 'Директор международного направления, Банк Первый', '3').--gradient
					.swiper-slide: +juryCard('Тина<br>Канделаки', 'Управляющий директор «Газпром-медиа Развлекательное телевидение»', '1').--white
					.swiper-slide: +juryCard('Виктор<br>Смородинов', 'Директор международного направления, Банк Первый', '2').--gradient
					.swiper-slide: +juryCard('Ксения<br>Власова', 'Директор международного направления, Банк Первый', '3').--white
	// end sJury


mixin juryCard(name, text, i)
	+b.jury-card&attributes(attributes)
		+e.img-wrap: +img(`img/jury-${i}.png`).gray-filter
		+e.content
			+e.name!= name
			+e.text!= text