mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(main) 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+e.logo-wrap
						a(href="#"): +img(src="img/svg/logo-white.svg", alt="")
				.col.order-lg-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							if main
								+mnu(true)
							if !main
								+mnu(false)
							.menu-wrap.d-xl-none
								+e.btns-wrap
									+e.btn.btn.btn-outline-light.small(href='#') Личный кабинет
									+e.btn.btn.btn-primary(href='#') Подать заявку
								+e.apply.text-center.fw-600 Прием заявок до 11 июля
				.col-auto
					+e.btns-wrap.wrap-header.d-none.d-xl-block
						if main
							+e.btn.btn.btn-light.small.btn-wr--js(href='#') Подать заявку
						else
							+e.btn.btn.btn-light.small(href='#') Подать заявку
						+e.btn.btn.btn-outline-light.small(href='#') Личный кабинет
				.col-auto.d-xl-none
					+menu-toggle()
	// end top-nav


mixin top-nav-cabinet() 
	// start top-nav
	+b.top-nav--cabinet.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+e.logo.A(href="#")
						.small.logo-text Личный<br>кабинет
						+e.logo-wrap
							+img(src="img/svg/logo-cabinet.svg", alt="")
				.col.order-lg-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+mnuCabinet()
				.col-auto
					+e.cabinet-nav
						+e.btn.tinny-item-js.consult-info-js
							+img(src="img/svg/question.svg", alt="")
							.tinny-template.consult-info
								.mb-12.small Если у вас возник вопрос о Премии, пожалуйста, задайте его здесь. Наши специалисты свяжутся с вами в ближайшее время.
								.title.text-secondary.required Как вы хотите получить консультацию?
								+e.radio-wrap.mb-12
									+in-c('radio', 'По телефону')
									+in-c('radio', 'Письмом на почту')(checked)
								+input( 'Введите текст', 'textarea').mb-12
								.small Также вы можете позвонить нам по телефону #[a(href="tel:+79999999999") +7 (999) 999-99-99]
								+e.btn.btn.btn-outline-primary.BUTTON Отправить
								+img(src="img/svg/question-i.svg", alt="").info-bg
						+e.btn(href='#modal-exit').link-modal-js: +icon('exit')
				.col-auto.d-xl-none
					+menu-toggle()
	// end top-nav