.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			// --bs-gutter-y: #{rem()};
		// }
    align-items: center;
	}

  background: linear-gradient(180deg, rgba(85,1,183,1) 0%, rgba(85,1,183,1) 60%, rgba(85,1,183,0.8324579831932774) 85%, rgba(114,44,202,0.8576680672268908) 100%);
	padding: rem(10) 0;
  @include media-breakpoint-up(xl) {
    padding: rem(5) 0;
  }

	&__apply {
    color: $white;
	}

	&__btns-wrap {
    .btn {
      line-height: 1;
    }
    .btn-outline-light {
      --bs-btn-padding-x: #{rem(16)};
    }

    &.wrap-header {
      .btn-light {
        --bs-btn-padding-x: #{rem(48)};
        margin-right: rem(4);
      }
    }

	}
  .menu-wrap {
    .btn {
      margin-bottom: rem(16);
      width: 100%;
    }
    .btn:not(.small) {
      font-size: rem(16);
    }
  }

	// .btn-outline-light {
  //   --bs-btn-padding-x: #{rem(16)};
  //   line-height: 1;
  // }

  &--cabinet {
    box-shadow: 0 2px 12px 0 rgba(125, 42, 250, 0.15);
    background: #fff;
    .menu-mobile {
      @include media-breakpoint-down(xl) {
        background: $white;
        box-shadow: 0 2px 12px 0 rgba(125, 42, 250, 0.15);
      }
    }

    a {
      color: $body-color;
    }
    .menu {
      justify-content: flex-end;
      @include media-breakpoint-up(lg) {
        column-gap: rem(33);
        margin-right: rem(4);
        a {
          font-size: rem(16);
        }
      }
    }
    .toggle-menu-mobile {
      --color: #{$primary};
    }
    .toggle-menu-mobile.on span:before,
    .toggle-menu-mobile.on span:after {
      --color: #{$primary};
  }
  .row {
    @include media-breakpoint-down(sm) {
    --bs-gutter-x: #{rem(10)};
    }
  }
  .tinny-item-js {
    display: inline-block;
  }
    .top-nav {
      &__logo {
        display: flex;
        align-items: center;
        gap: rem(8);
        line-height: 110%;
        @include media-breakpoint-down(sm) {
          .logo-text {
            font-size: rem(10);
            line-height: 100%;
          }
          img {
            max-width: 22vw;
          }
        }
      }

      &__btn.tinny-item-js {
        margin-right: rem(12);
        @include media-breakpoint-up(sm) {
          margin-right: rem(44);
        }
      }

      &__cabinet-nav {
        .icon {
          fill: none;
        }

        .icon-exit {
          stroke-width: 2px;
          stroke: $secondary;
        }
      }
    }
  }

  .menu-item.gradient {
    background: linear-gradient(148deg, #5400b7 0%, #0098e3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .consult-info {
    display: none;
    position: relative;
    z-index: 1;
  }
  .consult-info-header-btn {
    cursor: pointer;
  }

  textarea {
    resize: none;
  }
  .mb-12 {
    margin-bottom: rem(12);
  }

  .tippy-box {
    padding: rem(8);
    line-height: 1.2;
    // padding-bottom: rem(30);
    @include media-breakpoint-up(sm) {
      padding: rem(12);
    }
    box-shadow: 0 0 8px 0 rgba(29, 23, 75, 0.15);
    background: #fff;
    border-radius: rem(12px) 0 rem(12px) rem(12px);
    color: $body-color;
    // max-width: 90vw;
    BUTTON {
      width: rem(260);
    }
    .title {
      margin-bottom: rem(8);
    }
    .btn {
      font-size: 16px;
      --bs-btn-padding-x: #{rem(16)};
      --bs-btn-padding-y: #{rem(13)};
      line-height: 120%;

      margin-top: rem(20);
    }
    overflow: hidden;
  }

    &__radio-wrap {
      display: grid;
      grid-template-columns: 1fr;
      border-radius: rem(16);
      @include media-breakpoint-up(sm) {
        border-radius: rem(24);
        grid-template-columns: repeat(2,1fr);
      }
      @include media-breakpoint-up(md) {
        gap: rem(8);
      }
      padding: rem(4);
      border: 1px solid $secondary;
      margin-bottom: rem(8);
      line-height: 130%;

      label {
        position: relative;
        padding-left: 0;
        margin: 0;

        span {
          border-radius: rem(50);
          display: inline-block;
          width: 100%;
          height: 100%;
          text-align: center;
          position: relative;
          z-index: 2;
          padding: rem(4);
        }

        input {
          border: none;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: rem(50) !important;
          z-index: 0;
          // opacity: 0;
          margin: 0 !important;
          box-shadow: none !important;
          @include mt;
          background-image: none;

          &:hover {
            background: $gray-100;
          }
          &:checked {
            --bs-form-check-bg-image: none;
            background-color: #{$pink-400};
          }
          &:checked ~ span {
            color: $white;
          }
        }
      }
    }

	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


.info-bg {
  position: absolute;
  bottom: -40px;
  right: -30px;
  z-index: -1;
}

.container-w {
  position: relative;
}