mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-xl-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+e.logo-wrap
						a(href="#"): +img(src="img/svg/logo-white.svg", alt="")
				.col.order-lg-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+mnu()
							.menu-wrap.d-lg-none
								+e.btns-wrap
									+e.btn.btn.btn-outline-light.small(href='#') Личный кабинет
									+e.btn.btn.btn-primary(href='#') Подать заявку
								+e.apply.text-center.fw-600 Прием заявок до 11 июля
				.col-auto
					+e.btns-wrap.wrap-header.d-none.d-lg-block
						+e.btn.btn.btn-light.small.btn--js(href='#') Подать заявку
						+e.btn.btn.btn-outline-light.small(href='#') Личный кабинет
				.col-auto.d-xl-none
					+menu-toggle()
	// end top-nav