mixin sNewsPage(data)
	// start sNewsPage
	+b.SECTION.sNewsPage.section#sNewsPage&attributes(attributes)
		.container
			+b.section-title
				.h1=data
			+e.row.row
				+e.col.col-md-6.col-xl-4
					+blogCard('jury-c-1', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024').--person
				+e.col.col-md-6.col-xl-4
					+blogCard('sNewsPage-img', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
				+e.col.col-md-6.col-xl-4
					+blogCard('sNewsPage-img', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
				+e.col.col-md-6.col-xl-4
					+blogCard('jury-c-1', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024').--person
				+e.col.col-md-6.col-xl-4
					+blogCard('sNewsPage-img', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024')
				+e.col.col-md-6.col-xl-4
					+blogCard('sNewsPage-img', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
			+pugin()
	// end sNewsPage
