 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}


ul.page-numbers {
	display: flex;
	// gap: rem(6);
  margin-bottom: 0;
	justify-content: center;
  align-items: center;
	list-style-type: none;
	.page-numbers:not(.current) {
		color: #b6b6b6;
	}
	.page-numbers {
		padding: rem(8) rem(10);
		font-size: rem(18);
    @include media-breakpoint-up(md) {
      font-size: rem(20);
    }
		&:hover {
			color: $black;
		}
	}

  li:first-child {
    margin-right: rem(20);
  }

  li:last-child {
    margin-left: rem(20);
  }

  .icon {
    @include media-breakpoint-up(md) {
      font-size: rem(32);
    }
  }
}


.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}

.btn-gradient {
  --bs-btn-color: #{$white};
  --bs-btn-hover-color: #{$white};
  --bs-btn-border-color: #{transparent};

  background:  $gradient-dark;
  position: relative;
  z-index: 1;

  .icon {
    fill: none;
    stroke-width: 2px;
    stroke: $white;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-left: rem(8);
  }
  &:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    display: inline-block;
    border-radius: inherit;
    @include mt;
    opacity: 0;
    z-index: -1;
    background: linear-gradient(90deg, #2B4ACC 0%, #0198E3 60%);
  }

  span {
    position: relative;
    z-index: 1;
  }

  &:hover:before {
    opacity: 1;
  }
}


.jury-card {
  width: rem(270);
  @include media-breakpoint-up(xl) {
    width: auto;
  }
  
  .content {
    padding: rem(24);
  }

  &__img-wrap {
		margin-bottom: rem(14);
    position: relative;
    height: rem(240);
    &:before {
      content: '';
      position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
      height: 100%;

      --card-bord: #{rem(56)};
      background: var(--bg-before);
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  
	img {
		max-width: 100%;
    max-height: 100%;
	}
	&__name {
    line-height: 120%;
    font-size: rem(28px);
    margin-bottom: rem(8);
    @include media-breakpoint-up(xl) {
      font-size: rem(32px);
    }
	}

  &__text {
    @include media-breakpoint-up(xl) {
      font-size: rem(20px);
    }
  }

}


.file-container {
  margin-top: rem(12);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: rem(12);

  .file-label {
    @extend .btn-icon;
    @extend .btn-sm;
    min-width: auto !important;
    width: auto;
  }
  .upload {
    position: relative;
    width: max-content;
  }
  .files {
    display: inline-flex;
    flex-wrap: wrap;
    gap: rem(12);
  }
  input::file-selector-button {
    cursor: pointer;
  }
  .file-info {
    border: 1px solid #d5d9dc;
    border-radius: 32px;
    padding: 8px 16px;
    width: max-content;
    @extend .small;
  }

  .file-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
    display: inline-block;
  }
  .remove-file {
    cursor: pointer;
    margin-left: rem(8);
    .icon {
      font-size: rem(20);
    }
  }
  &.is-invalid .btn {
    border-color: $danger;
    background: white;
  }

}


.steps-line {
  --def-color: #{$secondary};
  --gap: #{rem(10)};
  a {
    color: var(--def-color);
    font-size: rem(24);
    display: inline-flex;
    align-items: center;
    gap: var(--gap);

    &:before {
      filter: grayscale(1);
      content: '';
      border-radius: 5px;
      width: 70px;
      height: 4px;
      background: #{$purple-800};
      display: inline-block;
      opacity: .2;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .swiper-slide {
    width: auto;
    &:not(:last-child) {
      margin-right: var(--gap);
    }

    &:nth-child(2) {
      a:before {
        background: #3212B1;
      }
    }
    &:nth-child(3) {
      a:before {
        background: #434DD9;
      }
    }
    &:nth-child(4) {
      a:before {
        background: #2D59D5;
      }
    }
    &:nth-child(5n) {
      a:before {
        background: #0F69D0;
      }
    }
  }

  &.swiper  {
    margin: 0;
    // overflow: visible;
  }
}

@for $n from 1 through 5 {
  .steps-line[data-step="#{$n}"] {
    .swiper-slide:nth-child(-n + #{$n}) a {
      --def-color: #{$purple-800};

      &:before {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }
}


.info-window {
  &:not(.info-window_small) {
    --gap: 20px;
    border-radius: rem(12px) 0 rem(12px) rem(12px);
    box-shadow: 0 0 8px 0 rgba(29, 23, 75, 0.15);

    padding: rem(40) rem(20);
    padding-bottom: rem(46);
    @include media-breakpoint-up(sm) {
      padding: rem(40) rem(28);
      padding-bottom: rem(46);
    }
  }

	background: #fff;
	color: $body-color;

	width: rem(390);
  max-width: 90%;
	&__content {
		gap: var(--gap);
    height: 100%;
    align-items: center;
	}

	.img-icon {
		width: rem(54);
	}
	.small {
		line-height: 130%;
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
	}

  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 100;

  .close-btn {
    position: absolute;
    top: rem(10);
    right: rem(10);

    cursor: pointer;
  }

  .icon-x {
    stroke: $body-color;
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
    font-size: rem(24);
  }

  opacity: 1;
  @include mt;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  overflow: hidden;

  &_small {
    padding: rem(8) rem(12);
    border: 1px solid #818181;
    border-radius: 8px;
    --gap: 12px;

    .img-icon {
      width: rem(24);
    }
  }
  .btn {
    font-size: 16px;
    --bs-btn-padding-x: #{rem(16)};
    --bs-btn-padding-y: #{rem(13)};
    line-height: 120%;

    margin-top: rem(20);
  }

  &.extra-small {
    width: max-content;
    max-width: rem(300px);
  }

}

.info-window--js.consult-info {
  padding: rem(16) !important;
  padding-right: rem(30) !important;
  min-height: rem(214);

  .info-bg {
    bottom: -15px;
    position: absolute;
    right: -11px;
    z-index: -1;
  }
}