// start .sAbility
.sAbility {
	// --sPT: #{rem()};
	// --sPB: #{rem(20)};
  @include media-breakpoint-down(lg) {
    --sPB: #{rem(20)};
  }
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
  &.bg-before.bg-before::before {
    background: $indigo;
    
      height: 90%;
      filter: blur(150px);
    @include media-breakpoint-down(lg) {
      filter: blur(200px);
      height: 100%;
      top: 44%;
    }
  }

  color: $white;

	&__grid {
    display: grid;
    gap: rem(24);
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3,1fr);
      gap: rem(32);

      h2 {
        grid-column: span 2;
      }
      .ability-card {
        &:first-child,
        &:last-child {
          grid-column: span 2;
        }
      }
    }
    &.title {
      align-items: start;
      gap: rem(0);
    }

  }
  
  .span {
    border-radius: 0 40px ;
    color: #fff;
    font-size: 20px;
    line-height: 110%;
    background: linear-gradient(148deg, rgba(84, 0, 183, 0.7) 0%, rgba(0, 152, 227, 0.7) 100%);
    
    display: inline-block;
    
    padding: rem(18px) rem(20px);
    @include media-breakpoint-up(xl) {
      font-size: 32px;
      margin-top: rem(14);
      margin-left: rem(12);
      padding: rem(14px) rem(28px);
    }
    
    @include media-breakpoint-down(lg) {
      max-width: rem(370);
    }
  }
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbility

.ability-card {
  padding: rem(18) rem(16) rem(24);
  backdrop-filter: blur(44px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: $border-radius;
  @include media-breakpoint-up(lg) {
    min-height: rem(320);
    height: 100%;
  }

  &--large {
    .ability-card {
      &__content {
        @include media-breakpoint-up(lg) {
          width: 68%;
        }
      }
    }
  }

  position: relative;
  overflow: hidden;

  img {
    max-height: 100%;
    width: 50%;
    max-width: rem(160);
    margin-left: auto;
    margin-top: rem(10);
    transform: translateY(10px);
    display: block;
    z-index: -1;
    @include media-breakpoint-up(lg) {
      transform: translate(-5%, 13%);
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 40%;
      width: auto;
    }
  }

  &__title {
    @include media-breakpoint-between(md, xl) {
      font-size: rem(30);
    }
  }

  &__text {
    text-wrap: balance;
  }
}