mixin sAbility(data)
	// start sAbility
	+b.SECTION.sAbility.bg-before.section#sAbility&attributes(attributes)
		.container
			+b.section-title.sAbility__grid.title
				h2 Реальная возможность победить
				.span даже если вы никогда не участвовали в премиях
			+e.grid
				+abilityCard('Сопровождение номинантов на всех этапах', 'Удобный личный кабинет для управления заявками, а также служба поддержки, которая работает 24/7.', 1).--large
				+abilityCard('Бесплатно', 'Подать заявку может любой член команды, которая успешно реализовала один или несколько проектов в сфере управления людьми.')
				+abilityCard('Помощь с заполнением заявки', 'Обучающие вебинары помогут выбрать наиболее подходящую номинацию и правильно описать проект.')
				+abilityCard('Потому что ваши идеи — на первом плане', 'Оценивается польза для людей и команд, а не затраченный бюджет или размер организации.', 2).--large
	// end sAbility

mixin abilityCard(t, p, img)
	+b.ability-card&attributes(attributes)
		+e.content
			+e.title.h3= t
			+e.text.text-large= p
		if img
			+img(src=`img/sAbility-${img}.png`, alt="")
