mixin sAbility(data)
	// start sAbility
	+b.SECTION.sAbility.bg-before.section#sAbility&attributes(attributes)
		.container
			+b.section-title.title
				h2 Реальная возможность <br>победить
					span даже если вы никогда<br> не участвовали в премиях
			+e.grid
				+abilityCard('Сопровождение номинантов на всех этапах', 'Удобный личный кабинет для управления заявками, а также служба поддержки', 1).--large
				+abilityCard('Бесплатно', 'Подать заявку может любой член команды, которая успешно реализовала один или несколько проектов в сфере управления людьми')
				+abilityCard('Помощь с заполнением заявки', 'Подскажем, как выбрать наиболее подходящую номинацию и правильно описать проект')
				+abilityCard('Потому что ваши идеи — на первом плане', 'Оценивается польза для людей и команд, а не затраченный бюджет или размер организации', 2).--large
	// end sAbility

mixin abilityCard(t, p, img)
	+b.ability-card&attributes(attributes)
		+e.content
			+e.title.h3= t
			+e.text.text-large= p
		if img
			+img(src=`img/sAbility-${img}.png`, alt="")
