mixin pagePreloader()
	#preloader
		.preloader-wrapper
			.preloader-logo
				<svg class='logo-svg' width="87" height="88" viewBox="0 0 87 88" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M42.0332 -0.000976562C34.836 -0.000976562 28.9852 5.87351 28.9852 13.1275V16.0393C28.9852 23.2832 23.1495 29.1678 15.9372 29.1678H13.0421C5.84498 29.1678 -0.00585938 35.0423 -0.00585938 42.2963V87.5054H15.9321C23.1293 87.5054 28.9801 81.6309 28.9801 74.3769V29.1678H73.9041C81.1012 29.1678 86.947 23.2933 86.947 16.0393V-0.000976562H42.023H42.0332Z" fill="white" />
				</svg>
				<svg class='logo-svg' width="87" height="88" viewBox="0 0 87 88" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M71.001 0.169922C63.8039 0.169922 57.9581 6.0444 57.9581 13.2984V45.379C57.9581 52.6229 52.1224 58.5075 44.9152 58.5075H13.0392C5.84205 58.5075 -0.00878906 64.382 -0.00878906 71.636V87.6763H44.9152C52.1123 87.6763 57.9581 81.8018 57.9581 74.5478V58.5075H73.8961C81.0932 58.5075 86.939 52.633 86.939 45.379V0.169922H71.001Z" fill="white" />
				</svg>
		.preloader-text-wrapper
			<svg class="svg-text" width="391" height="73" viewBox="0 0 391 73" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_5006_16522)">
					<path d="M45.6943 27.9446L51.5857 23.3632V9.00783L42.9056 0.272461H-0.0849609V58.5184H44.9706C49.7636 58.5184 53.6406 54.6089 53.6507 49.7831V34.4911L45.6943 27.9345V27.9446ZM14.3802 11.5124H37.323V23.7857H14.3802V11.5124ZM38.978 47.2887H14.3802V34.1806H38.978V47.2887Z" fill="white" />
					<path d="M86.8535 58.5262V0.280273H101.536V22.022H115.176L127.577 0.280273H144.213L127.683 27.1125L144.942 58.5262H128.412L116.214 34.4989H101.541V58.5262H86.8586H86.8535Z" fill="white" />
					<path d="M190.824 0.280273H159.313V12.7623H187.519V24.2058L149.894 24.4552V47.0929L161.261 58.5364H202.187V11.7289L190.819 0.285365L190.824 0.280273ZM187.519 46.4566H164.576V34.3869L187.519 34.1833V46.4566Z" fill="white" />
					<path d="M223.79 0.280273L212.215 11.3115V39.1873L223.178 50.2185H250.564V60.6184H215.631V73.1004H265.237V0.280273H223.79ZM250.554 38.1335H226.888V12.7623H250.554V38.1335Z" fill="white" />
					<path d="M319.268 0.277551H275.979V73.0825H290.651V58.5235H319.961C325.534 58.4726 330.023 53.9115 330.023 48.3068V12.1385L319.268 0.282642V0.272461V0.277551ZM315.35 46.0415H290.651V12.7545H315.35V46.0415Z" fill="white" />
					<path d="M390.996 32.9361V0.280273H350.273L339.311 11.9274V47.5001L340.004 58.5313H378.773C384.376 58.5313 388.916 53.9651 388.916 48.3248V46.0493H353.983V32.9412H390.991L390.996 32.9361ZM353.998 11.9274H378.176V23.7833H353.998V11.9274Z" fill="white" />
				</g>
				<defs>
					<clipPath id="clip0_5006_16522">
						<rect width="391" height="73" fill="white" />
					</clipPath>
				</defs>
			</svg>