// start .sArticle
.sArticle {
	--sPT: #{rem(50)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	@include media-breakpoint-up(md) {
    --sPT: #{rem(70)};
  }
	@include media-breakpoint-up(lg) {
    --sPT: #{rem(86)};
    --sTPB: #{rem(52)};
  }
	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(40)};
	}
	&__inner-row {
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: var(--bs-gutter-x);

    .sArticle__col:nth-child(odd) .sArticle__img-wrap {
      border-bottom-left-radius: 32px;
    }
    .sArticle__col:nth-child(even) .sArticle__img-wrap {
      border-top-right-radius: 32px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: rem(0);
      margin-bottom: rem(36);
    }
	}

	.section-title{
		&__date {
      letter-spacing: -0.05em;
      font-size: rem(20px);
      margin-bottom: rem(20);
      @include media-breakpoint-up(lg) {
        margin-bottom: rem(10);
      }
    }
	}
  .h1 {
    @include media-breakpoint-down(sm) {
      font-size: rem(30);
    }
  }
  p {
    line-height: 1.37;
    @include media-breakpoint-up(lg) {
      font-size: rem(20);
      margin-bottom: rem(26);
    }

    a {
      color: #9664FF;
      text-decoration: underline;
    }
  }

	&__aside {
		display: flex;
    flex-direction: column;
	}

	&__title {
    .h5 {
      line-height: 140%;
      @include media-breakpoint-down(sm) {
        font-size: rem(20);
      }
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(40);
      .h5 {
        margin-bottom: 0;
      }
    }
	}

  .blog-card__text {
    opacity: .7;
  }

  .blog-card {
    height: auto;
    min-height: auto;
    margin-bottom: rem(18);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
    }
  }

  .link-next {
    color: $secondary;
    text-decoration: underline;
    font-size: rem(20px);
  }

  .btn-gradient {
    border-radius: 8px;
    --bs-btn-padding-x: #{rem(24)};
    @include media-breakpoint-down(md) {
      --bs-btn-font-size: #{rem(16)};
      --bs-btn-padding-y: #{rem(14)};
      --bs-btn-padding-x: #{rem(10)};
      width: 100%;
      line-height: 1;
      .icon {
        font-size: rem(24);
        margin-left: rem(10);
      }
    }
  }

  &__item {
    margin-bottom: rem(24);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img-wrap {
    @include block(305,406);
    position: relative;
    max-height: rem(305);
    overflow: hidden;

    img {
      z-index: 2;
    }
  }

  
  &__thumb-wrap {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__s-img {
    @include block(155,184);
    border-radius: rem(8);
    overflow: hidden;
    width: 184px;
    max-width: rem(184);
    @include media-breakpoint-up(lg) {
      @include block(388,834);
      width: auto;
      max-width: none;
      border-top-right-radius: rem(56);
    }
    img {
      max-width: 100%;
    }
  }

  &__slider-wrap {
    @include media-breakpoint-up(lg) {
      margin-top: rem(36);
    }
  }

  .sProdCard-thumb-js {
    margin-top: rem(12);
    .slide-item-1 {
      cursor: pointer;
      @include block(1,1);
      width: 55px;
      margin-right: rem(14);
    }
    .swiper-slide-thumb-active {
      .slide-item-1 {
        filter: brightness(.8);
      }
    }
  }

  .swiper-slide {
    width: auto;
  }

  &__img-wrap-main {
    overflow: hidden;
    border-radius: 0 32px 0 0;
    @include block(185, 288);
    margin-bottom: rem(-10);
    @include media-breakpoint-up(lg) {
      border-radius: 0 56px 0 0;
      @include block(388, 832);
      margin-bottom: rem(40);
    }
    &.purple-bg {
      background: linear-gradient(180deg, #5400b7 0%, #712ac9 100%);
    }

    img {
      z-index: 2;
      object-fit: contain;
      object-position: right;
    }
  }

  &__img-wrap-100 {
    overflow: hidden;
    border-radius: 0 32px 0 0;
    @include block(185, 288);
    @include media-breakpoint-up(lg) {
      border-radius: 0 56px 0 0;
      @include block(388, 832);
    }

    img {
      z-index: 2;
    }
  }

  /* video */

	&__video-wrap {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include block(388, 832);
    margin-bottom: rem(30);
    @include mt;

    &:hover {
      filter: brightness(.9);
    }
    video {
      border-radius: rem(20);
      width: 100%;
    }
	}

  .play-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: rem(18);
    // background: white;
    border-radius: 50%;
    border: 1px solid white;
    @include mt;
    @include media-breakpoint-up(xl) {
      padding: rem(20);
    }

    img {
      display: block;
    }
  }
  .video.is-playing + .play-wrap {
    display: none;
  }

  .inner-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: rem(40);

    &:after,
    &:before {
      @include media-breakpoint-down(xl) {
        content: '';
        position: absolute;
        z-index: 0;
        background: #FF0F43;
      }
    }

    &:after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(40);
      @include media-breakpoint-up(md) {
        height: rem(50);
      }
    }

    &::before {
      top: 0;
      right: 0;
      width: rem(30);
      height: 100%;
      
      @include media-breakpoint-up(md) {
        width: rem(40);
      }
    }

    .bg {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      z-index: 0;
      @include media-breakpoint-down(xl) {
        display: none;
      }
    }

    &__content {
      position: relative;
      z-index: 1;
      @include media-breakpoint-down(lg) {
        max-width: 90%;
      }
    }

    .logo {
      margin-bottom: rem(26);
      max-width: 74%;
    }

    .manager-img {
      width: rem(216);
      @include media-breakpoint-up(lg) {
        width: rem(250);
      }
    }
    .manager-img-wrap {
      position: relative;
      width: max-content;
      margin-left: auto;
      margin-right: rem(-10);
      @include media-breakpoint-up(xl) {
        margin-right: rem(10);
      }
    }
    .manager-descr {
      position: absolute;
      left: 0%;
      bottom: rem(60);
      transform: translateX(-30%);
      @include media-breakpoint-up(lg) {
        bottom: rem(20);
      }
    }
    .col-lg {
      position: relative;
      z-index: 2;
    }

    blockquote {
      line-height: 130%;
      @include media-breakpoint-up(md) {
        line-height: 120%;
      }
    }

    .q {
      width: rem(94);
      @include media-breakpoint-up(xl) {
        width: rem(144);
        transform: translateX(-50%);
      }
      position: absolute;
      top: 0;
      left: 5%;
    }
  }

  .manager-descr {
    box-shadow: -13px -12px 16px 0 rgba(141, 141, 141, 0.13);
    background: rgba(255, 255, 255, 0.64);
    border-radius: rem(6px);

    padding: rem(9);
    width: rem(126);
    @include media-breakpoint-up(md) {
      padding: rem(11);
      width: rem(161);
    }

    &__title {
      font-size: rem(9px);
      @include media-breakpoint-up(md) {
        font-size: rem(11px);
      }
    }

    &__descr {
      font-size: rem(6px);
      margin-bottom: rem(2);
      @include media-breakpoint-up(md) {
        font-size: rem(8px);
      }
    }
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sArticle

.side-card {
  // min-height: rem(390);
  border-radius: rem(17px);
  @include media-breakpoint-up(md) {
    border-radius: rem(24px);
  }
  overflow: hidden;
  --pad-y: #{rem(21)};
  --pad-x: #{rem(18)};
	@include media-breakpoint-up(md) {
    --pad-y: #{rem(30)};
    --pad-x: #{rem(28)};
  }

  position: relative;
  &__btn {
    position: absolute;
    left: var(--pad-x);
    bottom: var(--pad-y);
    max-width: calc(100% - var(--pad-x) * 2);
    z-index: 5;

    font-weight: 500;
    font-size: rem(14);
    @include media-breakpoint-up(md) {
      font-size: rem(16);
    }
    --bs-btn-padding-x: #{rem(20)};
    @include media-breakpoint-down(md) {
      --bs-btn-padding-y: #{rem(8)};
    }
  }

  &_purple {
    background: #7409EF;
  }

  .logo {
    margin-bottom: rem(14);
    @include media-breakpoint-down(md) {
      max-width: 44%;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: rem(20);
    }
  }

  .person {
    max-width: 87%;
    width: rem(300);
    @include media-breakpoint-up(md) {
      width: rem(330);
      max-width: 94%;
    }
    @include media-breakpoint-up(xxl) {
      margin-top: rem(-15px);
    }
    margin-left: auto;
    filter: grayscale(1);
    transform: translateX(20%);
    margin-right: rem(-16);
  }

  &__content {
    padding: var(--pad-y) var(--pad-x) 0;
    position: relative;
    z-index: 1;
  }

  &__bg-wrap {
    text-align: end;
  }

  .h5 {
    color: white;
    margin-bottom: 0;
    letter-spacing: -0.03em;
  }

  &__sub {
    line-height: 98%;
    color: white;
    margin-bottom: rem(8);
    @include media-breakpoint-down(md) {
      font-size: rem(12);
    }
    @include media-breakpoint-up(md) {
      margin-bottom: rem(12);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 30%;
    left: -20%;

    border-radius: 100%;
    filter: blur(48px);
  }

  &:after {
    background: white;
    opacity: .23;
    transform: rotate(10deg);
    mix-blend-mode: soft-light;
    width: 90%;
    height: 34%;
  }

  &:before {
    width: 100%;
    height: 40%;
    background: #01ABFF;
  }

  .frame {
    position: absolute;
    opacity: .18;
    max-height: 60%;

    &_big {
      width: 72%;
      left: rem(20);
      bottom: var(--pad-y);
    }
    &_sm {
      width: 40%;
      right: 0;
      top: 0;
      transform: translate(4%, -38%);
    }
  }
  
}