mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section&attributes(attributes)
		.container
			+b.section-title
				+e.date.text-secondary  12.11.2024
				.h1 Учреждена премия Правительства Москвы  "В кадре".
			+e.row.row
				+e.col.col-lg-8
					+e.title
						.h5.fw-500 Это первая всероссийская премия Правительства Москвы
					p В минувшие выходные в культурном центре "Арбат" прошла уникальная выставка, которая привлекла внимание как любителей искусства, так и поклонников пушистых хвостатых — "КоШарики шоу". Это мероприятие собрало более 1000 посетителей, став настоящим праздником для всех, кто ценит домашних питомцев, искусство и креативные выставочные проекты.
					p Основная идея выставки заключалась в том, чтобы показать кошек в самых разных формах искусства. Здесь были представлены не только портреты и фотографии животных, но и инсталляции, выполненные из шерсти, ткани и даже металла. Но, пожалуй, самым главным «экспонатом» стали сами пушистики, которые радовали зрителей своими грациозными движениями и игривым поведением.
					p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
				+e.col.col-lg-4: +e.aside
					+e.cards-wrap.order-lg-1
						+blogCard('', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
					+e.title
						a.link-next(href="#") Все новости
							+icon('arr-next')
	// end sArticle

mixin sArticle2(data)
	// start sArticle
	+b.SECTION.sArticle.section&attributes(attributes)
		.container
			+b.section-title
				+e.date.text-secondary  12.11.2024
				.h1 Учреждена премия Правительства Москвы  "В кадре".
			+e.row.row
				+e.col.col-lg-8
					+e.title
						.h5.fw-500 Это первая всероссийская премия Правительства Москвы
					+e.item
						+e.img-wrap-main.purple-bg
							+img(src="img/sArticle-main.png", alt="").img-bg
					+e.item
						p В минувшие выходные в культурном центре "Арбат" прошла уникальная выставка, которая привлекла внимание как любителей искусства, так и поклонников пушистых хвостатых — "КоШарики шоу". Это мероприятие собрало более 1000 посетителей, став настоящим праздником для всех, кто ценит домашних питомцев, искусство и креативные выставочные проекты.
						p Основная идея выставки заключалась в том, чтобы показать кошек в самых разных формах искусства. Здесь были представлены не только портреты и фотографии животных, но и инсталляции, выполненные из шерсти, ткани и даже металла. Но, пожалуй, самым главным «экспонатом» стали сами пушистики, которые радовали зрителей своими грациозными движениями и игривым поведением.
						p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
					+e.item
						+e.inner-row.row
							+e.col.col-md-6
								a(data-fancybox="img", href='img/sNews-img.png')
									+e.img-wrap
										+img(src="img/sNews-img.png").img-bg
							+e.col.col-md-6
								a(data-fancybox="img", href='img/sNewsPage-img.png')
									+e.img-wrap
										+img(src="img/sNewsPage-img.png").img-bg
					+e.item
						p В минувшие выходные в культурном центре "Арбат" прошла уникальная выставка, которая привлекла внимание как любителей искусства, так и поклонников пушистых хвостатых — "КоШарики шоу". Это мероприятие собрало более 1000 посетителей, став настоящим праздником для всех, кто ценит домашних питомцев, искусство и креативные выставочные проекты.
						p Основная идея выставки заключалась в том, чтобы показать кошек в самых разных формах искусства. Здесь были представлены не только портреты и фотографии животных, но и инсталляции, выполненные из шерсти, ткани и даже металла. Но, пожалуй, самым главным «экспонатом» стали сами пушистики, которые радовали зрителей своими грациозными движениями и игривым поведением.
						p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
					+e.item
						+e.video-wrap.video-wrap
							video.video(src="img/video.mp4").img-bg
							.play-wrap: +img(src="img/svg/play.svg", alt="")
					+e.item
						p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
						+gradientBtn('Скачать архив фотографий')(download)
							+icon('download')
					+e.item
						+e.slider-wrap
							.swiper.sProdCard-slider-js
								.swiper-wrapper
									+sProdCardSlide('sNewsPage-img')
									+sProdCardSlide('sNews-img')
									+sProdCardSlide('sNewsPage-img')
									+sProdCardSlide('sNewsPage-img')
									+sProdCardSlide('sNewsPage-img')
						+e.thumb-wrap
							.swiper.sProdCard-thumb-js
								.swiper-wrapper
									+sProdCardThumb('sNewsPage-img')
									+sProdCardThumb('sNews-img')
									+sProdCardThumb('sNewsPage-img')
									+sProdCardThumb('sNewsPage-img')
									+sProdCardThumb('sNewsPage-img')
				+e.col.col-lg-4: +e.aside
					+e.cards-wrap.order-lg-1
						+blogCard('', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
					+e.title
						a.link-next(href="#") Все новости
							+icon('arr-next')
	// end sArticle


mixin sProdCardSlide(imgNum)
	.swiper-slide
		+e.s-img(href=`img/${imgNum}.png` data-fancybox='sProdCardSlide')
			img(loading="lazy" src=`img/${imgNum}.png` alt="").img-bg

mixin sProdCardThumb(imgNum)
	.swiper-slide
		.slide-item-1
			img(loading="lazy" src=`img/${imgNum}.png` alt="").img-bg

mixin sArticle3(data)
	// start sArticle
	+b.SECTION.sArticle.section&attributes(attributes)
		.container
			+b.section-title
				.h1=data
			+e.row.row
				
				+e.col.col-lg-8
					+e.title
						.h5.fw-500 Организатором Премии "В кадре" является Управление кадровых сервисов Правительства Москвы.
					+e.item
						p Управление кадровых сервисов<br>Правительства Москвы, созданное в&nbsp;Аппарате Мэра и&nbsp;Правительства Москвы, формирует лучшую систему кадровой поддержки для организаций и&nbsp;сотрудников Правительства Москвы.
						p Наша команда помогает городским организациям нанимать лучших специалистов, создавать возможности для их&nbsp;развития и&nbsp;делать работу над городскими проектами максимально эффективной.
						p Мы разрабатываем кадровые и&nbsp;HR-сервисы, а&nbsp;также оказываем комплексную поддержку каждого специалиста в&nbsp;решении задач для столицы. Это позволяет Правительству Москвы оставаться привлекательным и&nbsp;надежным работодателем в&nbsp;непростых условиях дефицита кадров.
						p Одна из&nbsp;ключевых задач Управления&nbsp;&mdash; формирование единой системы кадровых сервисов Правительства Москвы. Это позволяет руководителям столичных органов власти и&nbsp;организаций и&nbsp;их&nbsp;командам получать комплексную экспертную поддержку в&nbsp;HR-сфере и&nbsp;иметь доступ к&nbsp;лучшим инструментам и&nbsp;инновационным разработкам для работы на&nbsp;благо города. Такая концепция разработана по&nbsp;поручению Мэра Москвы и&nbsp;в&nbsp;том числе призвана содействовать в&nbsp;реализации стратегии развития столицы до&nbsp;2030&nbsp;года.
					+e.item
						+b.inner-wrapper.inner-wrapper_white
							+img(src="img/svg/bg-red.svg", alt="").bg
							.row
								.col-xl-7
									+e.content
										+img(src="img/svg/hr-red.svg", alt="").logo
										blockquote.text-large «Управление кадровых сервисов Правительства Москвы формирует лучшую систему кадровой поддержки для тех, кто создает лучший город Земли».
								.col-lg
									+img(src="img/svg/q.svg", alt="").q
									.manager-img-wrap
										+img(src="img/manager-2.png", alt="").manager-img
										+b.manager-descr
											+e.title.fw-700 Ксения Александрова
											+e.descr Директор по развитию и работе с клиентами Управления кадровых сервисов Правительства Москвы
					+e.item
						.h5.fw-500 Какой то подзаг
					+e.item
						p Сегодня сотрудникам #[strong Правительства Москвы] доступны треки для личностного и&nbsp;профессионального развития, VR-тренажеры, проекты бренда работодателя &laquo;Твой город&nbsp;&mdash; твоё дело&raquo;, линейка флагманских программ для руководителей &laquo;Урбан Лидер&raquo; и&nbsp;другие сервисы.<br> Управление кадровых сервисов продолжит реализовывать ранее возложенные на&nbsp;него функции: кадровое обеспечение Правительства Москвы и&nbsp;столичных органов исполнительной власти, организацию и&nbsp;проведение работы по&nbsp;награждению работников организаций и&nbsp;жителей города, формирование кадровой политики и&nbsp;законодательства о&nbsp;государственной гражданской службе, координацию государственных органов власти в&nbsp;#[a(href="http://") вопросах поступления] на&nbsp;гражданскую службу.
						p Реализация стратегии развития кадровых сервисов позволит сделать городскую систему управления еще более профессиональной, современной и&nbsp;динамичной. Это увеличит приток в&nbsp;команду Правительства Москвы талантливых, неравнодушных и&nbsp;вовлеченных специалистов. А&nbsp;ежедневное профессиональное и&nbsp;личностное развитие сотрудников обеспечит получение москвичами еще более качественных услуг, дальнейшее развитие комфортной городской среды и&nbsp;удовлетворение других потребностей жителей города Москвы.
					+e.item
						+e.img-wrap-100
							+img(src="img/organisation.png", alt="").img-bg
				+e.col.col-lg-4
					+e.cards-wrap
						+b.side-card.side-card_purple
							+img(src="img/svg/frame-white.svg", alt="").frame.frame_big
							+img(src="img/svg/frame-white.svg", alt="").frame.frame_sm
							+e.content
								+img(src="img/svg/logo-white.svg" alt="").logo
								+e.sub Ваша команда знает,<br>как найти лучших из лучших?
								.h5.fw-700 Номинируйте свой проект на HR-премию Правительства Москвы «В кадре»
								+e.bg-wrap: +img(src="img/jury-c-2.png", alt="").person
							+e.btn.btn.btn-light.w-100(href='#') Подать заявку
	// end sArticle
