mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section&attributes(attributes)
		.container
			+b.section-title
				+e.date.text-secondary  12.11.2024
				.h1 Учреждена премия Правительства Москвы  "В кадре".
			+e.row.row
				+e.col.col-lg-8
					+e.title
						.h5.fw-500 Это первая всероссийская премия Правительства Москвы
					p В минувшие выходные в культурном центре "Арбат" прошла уникальная выставка, которая привлекла внимание как любителей искусства, так и поклонников пушистых хвостатых — "КоШарики шоу". Это мероприятие собрало более 1000 посетителей, став настоящим праздником для всех, кто ценит домашних питомцев, искусство и креативные выставочные проекты.
					p Основная идея выставки заключалась в том, чтобы показать кошек в самых разных формах искусства. Здесь были представлены не только портреты и фотографии животных, но и инсталляции, выполненные из шерсти, ткани и даже металла. Но, пожалуй, самым главным «экспонатом» стали сами пушистики, которые радовали зрителей своими грациозными движениями и игривым поведением.
					p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
				+e.col.col-lg-4: +e.aside
					+e.cards-wrap.order-lg-1
						+blogCard('', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
					+e.title
						a.link-next(href="#") Все новости
							+icon('arr-next')
	// end sArticle

mixin sArticle2(data)
	// start sArticle
	+b.SECTION.sArticle.section&attributes(attributes)
		.container
			+b.section-title
				+e.date.text-secondary  12.11.2024
				.h1 Учреждена премия Правительства Москвы  "В кадре".
			+e.row.row
				+e.col.col-lg-8
					+e.title
						.h5.fw-500 Это первая всероссийская премия Правительства Москвы
					+e.item
						+e.img-wrap-main
							+img(src="img/sArticle-main.png", alt="").img-bg
					+e.item
						p В минувшие выходные в культурном центре "Арбат" прошла уникальная выставка, которая привлекла внимание как любителей искусства, так и поклонников пушистых хвостатых — "КоШарики шоу". Это мероприятие собрало более 1000 посетителей, став настоящим праздником для всех, кто ценит домашних питомцев, искусство и креативные выставочные проекты.
						p Основная идея выставки заключалась в том, чтобы показать кошек в самых разных формах искусства. Здесь были представлены не только портреты и фотографии животных, но и инсталляции, выполненные из шерсти, ткани и даже металла. Но, пожалуй, самым главным «экспонатом» стали сами пушистики, которые радовали зрителей своими грациозными движениями и игривым поведением.
						p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
					+e.item
						+e.inner-row.row
							+e.col.col-md-6
								a(data-fancybox="img", href='img/sNews-img.png')
									+e.img-wrap
										+img(src="img/sNews-img.png").img-bg
							+e.col.col-md-6
								a(data-fancybox="img", href='img/sNewsPage-img.png')
									+e.img-wrap
										+img(src="img/sNewsPage-img.png").img-bg
					+e.item
						p В минувшие выходные в культурном центре "Арбат" прошла уникальная выставка, которая привлекла внимание как любителей искусства, так и поклонников пушистых хвостатых — "КоШарики шоу". Это мероприятие собрало более 1000 посетителей, став настоящим праздником для всех, кто ценит домашних питомцев, искусство и креативные выставочные проекты.
						p Основная идея выставки заключалась в том, чтобы показать кошек в самых разных формах искусства. Здесь были представлены не только портреты и фотографии животных, но и инсталляции, выполненные из шерсти, ткани и даже металла. Но, пожалуй, самым главным «экспонатом» стали сами пушистики, которые радовали зрителей своими грациозными движениями и игривым поведением.
						p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
					+e.item
						+e.video-wrap.video-wrap
							video.video(src="img/video.mp4").img-bg
							.play-wrap: +img(src="img/svg/play.svg", alt="")
					+e.item
						p Особенностью "КоШарики шоу" стало то, что на выставке не только показывали искусство, но и знакомили с породами кошек. Посетители могли узнать больше о характерах различных пород, получить рекомендации по уходу за питомцами, а также поучаствовать в мастер-классах по рисованию кошек и созданию игрушек для домашних животных.
						+gradientBtn('Скачать архив фотографий')(download)
							+icon('download')
					+e.item
						+e.slider-wrap
							.swiper.sProdCard-slider-js
								.swiper-wrapper
									+sProdCardSlide('sNewsPage-img')
									+sProdCardSlide('sNews-img')
									+sProdCardSlide('sNewsPage-img')
									+sProdCardSlide('sNewsPage-img')
									+sProdCardSlide('sNewsPage-img')
						+e.thumb-wrap
							.swiper.sProdCard-thumb-js
								.swiper-wrapper
									+sProdCardThumb('sNewsPage-img')
									+sProdCardThumb('sNews-img')
									+sProdCardThumb('sNewsPage-img')
									+sProdCardThumb('sNewsPage-img')
									+sProdCardThumb('sNewsPage-img')
				+e.col.col-lg-4: +e.aside
					+e.cards-wrap.order-lg-1
						+blogCard('', 'Учреждена премия Правительства Москвы  "В кадре".', 'Это первая всероссийская премия Правительства Москвы. Это первая всероссийская премия Правительства Москвы.', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
						+blogCard('', 'Интервью с экспертом премии.', 'О том, в чем фишка этой премии и каких проектов особенно ждем', '01.04.2024')
					+e.title
						a.link-next(href="#") Все новости
							+icon('arr-next')
	// end sArticle


mixin sProdCardSlide(imgNum)
	.swiper-slide
		+e.s-img(href=`img/${imgNum}.png` data-fancybox='sProdCardSlide')
			img(loading="lazy" src=`img/${imgNum}.png` alt="").img-bg

mixin sProdCardThumb(imgNum)
	.swiper-slide
		.slide-item-1
			img(loading="lazy" src=`img/${imgNum}.png` alt="").img-bg